---
layout: post
title: "Public Viewing: WWDC BBQ"
categories: ["frontpage"]
frontpage_line1: "Public Viewing"
frontpage_line2: "WWDC BBQ"
frontpage_line3: "Mo., 13. Juni"
frontpage_line4: "Gemeinsam mit unseren Freunden von der CocoaHeads CGN möchten wir euch einladen zum WWDC Public Viewing.<br/>Wir freuen uns besonders über unseren erneuten Besuch bei MIAMED und das unser Gastgeber erneut den Grill für uns befeuern möchte während wir auf iOS 10 und Co. warten."
themen: ["WWDC 2016"]
all_events_title: "Public Viewing: WWDC BBQ"
all_events_text: Mo. 13. Juni 2016 bei MIAMED
doodle: http://doodle.com/poll/dwtsyr4gebs6wc49
xing: https://www.xing.com/events/-1694039
meetup: http://www.meetup.com/de-DE/mobilecgn/events/231095905/
#nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/29471
#hackenin: http://hacken.in/events/105-mobile-cologne/dates/3173
---

<div class="container span-13">
	<p>
		Wir freuen uns euch, gemeinsam mit unseren Freunden von der CocoaHeads CGN,
		am <strong>Montag, den 13. Juni zum WWDC BBQ</strong> einzuladen.
		Los geht es um 18 Uhr. Die Keynote beginnt um 19 Uhr.
	</p>
	<p>
		Erneuten möchte unser Gastgeber
		<strong><a href="https://www.miamed.de/" target="_blank">MIAMED</a></strong>
		den Grill befeuern während wir auf iOS 10 und Co. warten.
	</p><br/>

	<p>
		<strong>WWDC</strong>
	</p>
	<p>
		Die jährliche Entwicklerkonferenz von Apple nutzt Apple für
		Ankündigungen rund um die Betriebssysteme iOS, watchOS, etc.
		sowie eine Entwicklungstools Xcode &amp; Co.
	</p><br/>

	<p>
		<strong>MIAMED</strong>
	</p>
	<p>
		MIAMED entwickelt seit 2012 Apps für Android und iPhone in Köln und Berlin,
		welche Mediziner in ihrer gesamten Laufbahn begleiten.
		Im Studium, während des Examens und im Berufsleben.
		Das Hauptprodukt, die Lernplattform AMBOSS, wird mittlerweile von
		über 75.000 Medizinstudenten und Ärzten genutzt.
	</p>
	<p style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
		<a href="https://www.miamed.de/"><img src="/static/images/miamed.jpg" alt="MIAMED" width="274" height="75"></a>
	</p>
</div>
<div class="clearfix"></div>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung (Reservierung) an: &nbsp;
	{% include _content_register.html %}
</p><br/>

{% include _location_miamed.html %}
