---
layout: post
title: "Stammtisch: Google IO revue"
categories: ["frontpage"]
frontpage_line1: "Stammtisch"
frontpage_line2: "Google IO revue"
frontpage_line3: "Mo., 23. Mai"
frontpage_line4: "Mittwoch Abend bis Freitag Nacht findet die Google Hauskonferenz statt. Am Montag drauf möchten wir euch zu einem Stammtisch ins <strong>Früh am Dom</strong> einladen um in geselliger Runde und einem Kölsch die Ankündigungen revue passieren zu lassen."
themen: ["Google IO 2016"]
all_events_title: "Stammtisch: Google IO revue"
all_events_text: Mo. 23. Mai 2016 im Früh am Dom
doodle: http://doodle.com/poll/pv9ctq84gghfgvg8
#xing: https://www.xing.com/events/-1496178
#meetup: http://www.meetup.com/mobilecgn/events/219826467/
#nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/29471
#hackenin: http://hacken.in/events/105-mobile-cologne/dates/3173
---

<p>
	Wir möchten euch zum Google IO revue Stammtisch am
	<strong>Montag, den 23. Mai 2016 ab 19 Uhr ins Früh am Dom</strong>
	einladen.
</p>
<p>
	Vom Mittwoch Abend bis Freitag Nacht findet die
	Google Hauskonferenz statt.
	Am Montag drauf möchten wir in geselliger Runde und einem Kölsch die
	Ankündigungen revue passieren zu lassen.
</p>
<br/>

<p>
	<strong>Keynote Public Viewing Tipp:</strong>
</p>
<p>
	Wer die Google IO Keynote sehen möchte, dem empfehlen wir das
	Public Viewing Event
	<a href="http://www.meetup.com/de-DE/Google-Developer-Group-Dusseldorf/events/230270018/">Google I/O Extended</a> der
	<a href="http://www.meetup.com/de-DE/Google-Developer-Group-Dusseldorf/">GDG Düsseldorf</a>.
	Wir würden uns freuen euch dort zu treffen. Schreibt uns gerne wenn ihr ggf. gemeinsam von Köln nach Düsseldorf fahren möchtet.
</p>
<br/>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung (Reservierung) an: &nbsp;
	{% include _content_register.html %}
</p>

{% include _location_frueh.html %}
