---
layout: post
title: "Public Viewing: Google IO"
categories: ["frontpage"]
frontpage_line1: "Public Viewing"
frontpage_line2: "Google IO"
frontpage_line3: "Mi., 18. Mai"
frontpage_line4: "Am Mittwoch Abend eröffnet Google seine Hauskonferenz Google IO. Wir freuen uns über die Einladung zum Public Viewing bei REWE digital in Köln Mülheim. In geselliger Runde und dem ein oder anderen Kölsch können wir der Keynote mit Neuigkeiten rund um Android, GCM und Co. lauschen."
themen: ["Google IO 2016"]
all_events_title: "Public Viewing: Google IO"
all_events_text: Mi. 18. Mai 2016 bei REWE digital
doodle: http://doodle.com/poll/pv9ctq84gghfgvg8
xing: https://www.xing.com/events/-1688138
meetup: http://www.meetup.com/de-DE/mobilecgn/events/231095848/
#nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/29471
#hackenin: http://hacken.in/events/105-mobile-cologne/dates/3173
---

<div class="container span-13">
	<p>
		Wir freuen uns euch am <strong>Mittwoch, den 18. Mai zum Google IO Public Viewing</strong> einzuladen.
		Los geht es um 18:30 Uhr. Die Keynote beginnt um 19 Uhr.
	</p>
	<p>
		Beim Gastgeber des Abends,
		<strong><a href="https://www.rewe-digital.com/" target="_blank">REWE digital</a></strong>
		in Köln Mülheim, können wir in geselliger Runde und dem ein oder anderen Kölsch der Keynote lauschen.
	</p><br/>

	<p>
		<strong>Google IO</strong>
	</p>
	<p>
		Die jährliche Entwicklerkonferenz von Google nutzt die Firma hinter
		Android regelmäßig um eine neue Version seines Betriebsystems
		und anderer Infrastruktur-Kompoenten anzukündigungen.
	</p><br/>

	<p>
		<strong>REWE digital</strong>
	</p>
	<p>
		REWE digital entwickelt im Auftrag von REWE die Android und iOS apps
		sowie den Webshop für den REWE Lieferdienst.
	</p>
	<p style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
		<a href="https://www.rewe-digital.com/"><img src="/static/images/rewe_digital.jpg" alt="REWE digital" xwidth="204" height="120"></a>
	</p>
</div>
<div class="clearfix"></div>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung (Reservierung) an: &nbsp;
	{% include _content_register.html %}
</p><br/>

{% include _location_rewe_digital.html %}
