---
layout: post
title: "Vortragsabend: Bessere Apps / UX"
categories: ["frontpage"]
frontpage_line1: "Vortragsabend"
frontpage_line2: "Bessere Apps / UX"
frontpage_line3: "Do. 30. Juni"
frontpage_line4: "Wir widmen diesen Abend den Themen App Gestaltung und User Experience. Mit seinem Vortrag zeigt Dominique Winter wie wir nachhaltig bessere Apps entwickeln können.<br/>Wer mag kann im Anschluss noch gemeinsam mit uns das EM-Spiel bei <a href=\"https://www.railslove.com/\" target=\"_blank\"><strong>railslove</strong></a> rudelgucken."
themen: ["Der Weg zur besseren User Experience"]
all_events_title: "Vortragsabend: Bessere UX"
all_events_text: Do. 30. Juni 2016
doodle: http://doodle.com/poll/99frhgtcr3dft969
xing: https://www.xing.com/events/-1701466
meetup: http://www.meetup.com/de-DE/mobilecgn/events/231095918/
#nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/29471
#hackenin: http://hacken.in/events/105-mobile-cologne/dates/34467
---

<div class="container span-13">
	<p>
		Gerne laden wir euch zu unserer Veranstaltungsreihe am
		<strong>Donnerstag, den 30. Juni ab 18:30 Uhr</strong> ein.
		In alter und neuer Location treffen wir uns diesmal bei
		<a href="https://www.railslove.com/">railslove</a>.
	</p>
	<p>
		Wir freuen uns euch zu einem Vortragsabend rund um das Thema
		<strong>App Gestaltung und User Experience</strong> einzuladen:
		Mit einer Mischung aus Vortrag und Workshop zeigt
		<a href="http://www.designik.de/" target="_blank">Dominique Winter</a>
		(<a href="https://twitter.com/designik" target="_blank">@designik</a>)
		wie wir nachhaltig besseren Apps entwickeln können.
	</p>
	<p>
		Wir beginnen den Vortrag um 19 Uhr und laden euch ein,
		gemeinsam mit unseren Freunden von railslove, im Anschluss auch noch
		das EM-Spiel um 21 Uhr zu schauen.
	</p><br/>

	<p>
		<strong>Der Weg zur besseren User Experience</strong>
	</p>
	<p>
		Rollenspiele kennt jeder. Schon im Kindesalter lernen wir in
		Rollenspielen wie sich beispielsweise Cowboys und Indianer verhalten.
		Auch das Spielen einer Familie kennen wahrscheinlich die meisten von
		uns aus ihrer Jugend.
		Dabei lernten wir in spielerischen Situationen andere Rollen anzunehmen.
		Eine wichtige Rolle in unserem Alltag als App-Schaffende sind die
		“Anwender”.
		Wir wollen einfache und begeisternde Apps entwickeln und
		müssen dafür die Anwender berücksichtigen!
	</p>
	<p>
		Mit Übungen aus den Bereichen Schauspielunterricht, Rollenspieltraining
		und Theaterpädagogik zeigt Dominique wie Ideen für Apps schon in sehr
		frühen Stadien auf Akzeptanz und Rückweisung durch Anwender spielerisch
		geprüft werden können.
		Wir werden durch viele verschiedene Übungen langsam an Rollenspiele
		herangebracht und können dann konkret erarbeiten, was an unseren Ideen
		gut oder schlecht ist. Dominique bringt uns beispielhafte Ideen mit,
		aber wer Lust hat, kann natürlich auch eigene Ideen mitbringen!
	</p><br/>

	<p>
		<strong>Über railslove</strong>
	</p>
	<p>
		Wir danken <a href="https://www.railslove.com/">railslove</a> für Ihre Gastfreundschaft.
		Das railslove Team entwickelt Apps für Web, Tablets und Smartphones mit
		Ruby on Rails, JavaScript und HTML5 - unterstützt Teams mit frischen
		Ideen und Konzepten, agilen Methoden, als Produktmanager und
		User-Experience-Berater.
	</p>
	<p style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
		<a href="https://www.railslove.com/"><img src="/static/images/railslove.png" alt="railslove" width="214" height="62"></a>
	</p><br/>
</div>
<div class="clearfix"></div>

<h3>Agenda</h3>
<div class="container span-15 last clear">
	<div class="span-2"><p>~ 18:30 Uhr</p></div>
	<div class="span-13 last"><p>Opening &amp; come together</p></div>
	<div class="span-2"><p>~ 19:00 Uhr</p></div>
	<div class="span-13 last">
		<p>
			<strong>Der Weg zur besseren User Experience</strong><br/>
			Dominique Winter
		</p>
	</div>
	<div class="span-2"><p>~ 21:00 Uhr</p></div>
	<div class="span-13 last"><p>EM-Spiel rudelgucken</p></div>
	<div class="span-2">danach</div>
	<div class="span-13 last">Diskutieren, austauschen, Bier trinken, etc.</div>
</div>
<div class="clearfix"></div><br/>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung an:&nbsp;
	{% include _content_register.html %}
</p><br/>

{% include _location_railslove.html %}
