---
layout: post
title: "Vortragsabend: Kotlin + Pebble"
categories: ["frontpage"]
frontpage_line1: "Vortragsabend"
frontpage_line2: "Kotlin + Pebble"
frontpage_line3: "Do. 6. Oktober"
frontpage_line4: "Wir möchten euch zu unserem nächsten Vortragsabend einladen:<br/>Mit den Vorträgen <strong>„iOS hat Swift, Android hat Kotlin“</strong> sowie <strong>„Pebble-Entwicklung mit JavaScript und C“</strong> decken wir zwei spannende Bereiche der mobilen Entwicklung ab. Wir freuen uns auf einen neuen Besuch bei <a href=\"https://www.rewe-digital.com/\" target=\"_blank\"><strong>REWE digital</strong></a>."
themen: ["iOS hat Swift, Android hat Kotlin", "Pebble-Entwicklung mit JavaScript und C"]
all_events_title: "Vortragsabend: Kotlin + Pebble"
all_events_text: Do. 6. Oktober 2016
doodle: http://doodle.com/poll/tazvf9nmm8eq8i5c
xing: https://www.xing.com/events/-1731071
meetup: https://www.meetup.com/mobilecgn/events/234332841/
#nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/29471
#hackenin: http://hacken.in/events/105-mobile-cologne/dates/34467
---

<div class="container span-13">
	<p>
		Wir möchten euch zu unserem nächsten Vortragsabend einladen:<br/>
		Am <strong>Donnerstag, den 06. Oktober ab 18:30 Uhr</strong>
		treffen wir uns bei
		<a href="https://www.rewe-digital.com/" target="_blank">REWE digital</a>
		in Köln-Mülheim.
	</p>
	<p>
		<a href="https://twitter.com/0xEFBBBF" target="_blank">Sven Jacobs</a>
		gibt uns eine Einführung in die Programmiersprache <strong>Kotlin</strong>.
		Seit vielen Jahren müssen sich Android-Entwickler mit Java 6 abfinden.
		Java 7- und 8-Features werden nur teilweise oder unter bestimmten
		Bedingungen unterstützt.
		Kotlin schafft hier Abhilfe und ermöglicht eine moderne
		und elegante Softwareentwicklung im Android-Umfeld.
	</p>
	<p>
		Im zweiten Vortrag stellt uns
		<a href="http://www.designik.de/" target="_blank">Dominique Winter</a>
		(<a href="https://twitter.com/designik" target="_blank">@designik</a>)
		die aktuellen Möglichkeiten vor die <strong>Pebble Smartwatch</strong>
		mit JavaScript und C mit einer Software zu bespielen.
	</p>
	<br/>

	<p>
		<strong>REWE digital</strong>
	</p>
	<p>
		REWE digital entwickelt im Auftrag von REWE die Android und iOS apps
		sowie den Webshop für den REWE Lieferdienst.
	</p>
	<p style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
		<a href="https://www.rewe-digital.com/"><img src="/static/images/rewe_digital.jpg" alt="REWE digital" xwidth="204" height="150"></a>
	</p>
	<br/>
</div>
<div class="clearfix"></div>

<h3>Agenda</h3>
<div class="container span-15 last clear">
	<div class="span-2"><p>~ 18:30 Uhr</p></div>
	<div class="span-13 last"><p>Opening &amp; come together</p></div>
	<div class="span-2"><p>~ 19:00 Uhr</p></div>
	<div class="span-13 last">
		<p>
			[Talk] iOS hat Swift, Android hat Kotlin, Sven Jacobs<br/>
			[Talk] Pebble-Entwicklung mit JavaScript und C, Dominique Winter
		</p>
	</div>
	<div class="span-2">danach</div>
	<div class="span-13 last">Diskutieren, austauschen, Bier trinken, etc.</div>
</div>
<div class="clearfix"></div><br/>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung an:&nbsp;
	{% include _content_register.html %}
</p><br/>

{% include _location_rewe_digital.html %}
