---
layout: default
title: user group for ios, android, html5
---

<style type="text/css">
	.event-teaser .date {
		position: absolute;
		display: inline-block;
		margin-left: 0px;
		padding: 5px;
		color: white;
		background-color: #E01F1F;
		transform: rotate(-1deg);
		-webkit-transform: rotate(-1deg);
		-ms-transform: rotate(-1deg);
		-o-transform: rotate(-1deg);
		-moz-transform: rotate(-1deg);
	}
	.event-teaser .location {
		display: inline-block;
		margin-top: 40px;
		margin-left: 20px;
		padding: 5px;
		color: white;
		background-color: black;
		transform: rotate(+1deg);
		-webkit-transform: rotate(+1deg);
		-ms-transform: rotate(+1deg);
		-o-transform: rotate(+1deg);
		-moz-transform: rotate(+1deg);
	}
</style>

<div class="content">
	<div class="container">
		<!--
		<div class="event-teaser span-8" style="margin-left: 40px; width: 250px;">
			<strong title="Ein externer Veranstaltungstipp">Veranstaltungstipp</strong>
			<h1>
				<span class="date">Mi. 29. Januar</span>
				<span class="location">im Startplatz</span>
			</h1>
			
			<strong>STARTPLATZ Parts2Talk: Mobile</strong><br/>
			zeigt wann und wie eine App sinnvoll ist und welche Entwicklungen bevorstehen.<br/>
			Unsere Mitglieder können über uns einen Rabattcode erhalten.<br/>
			Bei Interesse <a href="/kontakt.html">schreibt uns bitte hier</a>.<br/>
			Weitere Infos auf <a href="http://www.startplatz.de/event/startplatz-parts2talk-mobile/">www.startplatz.de</a>
		</div>
		-->

		<!-- Soezial layout - only for the upcoming event! -->
		{% for post in site.categories.frontpage reversed limit:1 %}
		<div class="event-teaser span-16" style="min-height: 380px;">
				<strong style="font-size: 108%;">Jetzt vormerken:</strong><br/>
				<a href="{{ post.url }}">
					<h1>
						<span class="date">Großes Jubiliäum und Interactive Cologne Spezial</span>
						<span class="location">Do. 22. Mai ab 17 Uhr in der Wohngemeinschaft</span>
					</h1>
				</a>
				<p>
					Im Mai möchten wir mit euch unser zweijähiges Jubiliäum feiern.
					Aus diesem Anlass verlegen wir unseren Vortragsabend in die gemütliche
					<em>Wohngemeinschaft</em> <a href="{{ post.url }}#location">in bester Innenstadtlage</a>.
				</p>
				<p>
					Wir beginnen den Abend etwas früher um euch ein umfassendes Themenpaket zu bieten:
				</p>
				<ul style="margin: 0;">
					<li><a href="{{ post.url }}#android-indoor"><strong>Indoor Ortung für Android</strong></a></li>
					<li><a href="{{ post.url }}#ibeacon"><strong>Micro Location-based Apps mit iBeacon</strong></a></li>
					<li><a href="{{ post.url }}#push"><strong>Crossplattform Push Notifications</strong></a></li>
				</ul>
				<p>
					Im Anschluss an unser Meetup findet, ebenfalls in der Wohngemeinschaft,<br/>
					das Interactive&nbsp;Cologne come together statt: <em>INTERACTIVE Meet &amp; Greet.</em>
					<img src="/static/beer.png" style="height: 1em;" />
				</p>
				<p>
					<a href="{{ post.url }}">Mehr Infos</a>
					{% if post.doodle %}
						&nbsp;|&nbsp; <a href="{{ post.doodle }}" target="_blank">Doodle</a>
					{% endif %}
					{% if post.xing %}
						&nbsp;|&nbsp; <a href="{{ post.xing }}" target="_blank">Xing</a>
					{% endif %}
					{% if post.meetup %}
						&nbsp;|&nbsp; <a href="{{ post.meetup }}" target="_blank">Meetup</a>
					{% endif %}
					{% if post.nerdhub %}
						&nbsp;|&nbsp; <a href="{{ post.nerdhub }}" target="_blank">nerdhub</a>
					{% endif %}
					{% if post.hackenin %}
						&nbsp;|&nbsp; <a href="{{ post.hackenin }}" target="_blank">hacken.in</a>
					{% endif %}
				</p>
				<img src="/static/images/events/interactive-cologne-2014.png" style="width: 100%;">
			</div>
		{% endfor %}

		<!-- Limit 0 because we show the event with an special width above! -->
		{% for post in site.categories.frontpage reversed limit:0 %}
			<div class="event-teaser span-8" style="margin-left: 40px; width: 250px;">
				<strong style="font-size: 108%;">{{ post.all_events_title }}</strong><br/>
				<a href="{{ post.url }}">
					<h1>
						<span class="date">{{ post.frontpage_headline_date }}</span>
						<span class="location">{{ post.frontpage_headline_location }}</span>
					</h1>
				</a>

				{{ post.frontpage_headline }}<br/>
				<a href="{{ post.url }}">Mehr Infos</a>
				{% if post.doodle %}
					&nbsp;|&nbsp; <a href="{{ post.doodle }}" target="_blank">Doodle</a>
				{% endif %}
				{% if post.xing %}
					&nbsp;|&nbsp; <a href="{{ post.xing }}" target="_blank">Xing</a>
				{% endif %}
				{% if post.meetup %}
					&nbsp;|&nbsp; <a href="{{ post.meetup }}" target="_blank">Meetup</a>
				{% endif %}
				<!--
				{% if post.nerdhub %}
					&nbsp;|&nbsp; <a href="{{ post.nerdhub }}" target="_blank">nerdhub</a>
				{% endif %}
				{% if post.hackenin %}
					&nbsp;|&nbsp; <a href="{{ post.hackenin }}" target="_blank">hacken.in</a>
				{% endif %}
				-->
			</div>
		{% endfor %}

		<div class="span-8 last">
			{% include _sidebar_newsletter_light.html %}
			{% include _sidebar_facebook.html %}
		</div>
	</div>

	<div style="text-align: center; font-size: 20px; margin: 30px;">
		mehr aus unserer schönen Stadt
	</div>
	<div class="container">
		<div class="span-11 colborder">
			<h2><a href="http://www.objcgn.com/" target="_blank" style="
					display: block;
					height: 200px;
					background-image: url('/static/images/objcgn.png');
					background-repeat: no-repeat;
					background-position: left bottom;">Objective-Cologne</a></h2>
			<div>
				Die <strong>international ausgerichtete Cocoa / Objective-Conference</strong>
				findet dieses Jahr bereits zum dritten mal statt.
				Vom <strong>23.-25.&nbsp;September</strong> besteht diese aus
				einem zweitägigen Vortragsprogramm sowie einem anschließendem Hackathon.
			</div>
		</div>
		<div class="span-12 last">
			<h2><a href="http://koeln.opendevicelab.de/" target="_blank" style="
					display: block;
					height: 200px;
					background-image: url('/static/images/odlcgn.png');
					background-repeat: no-repeat;
					background-position: left bottom;">Open Device Labs</a></h2>
			<div>
				In <strong>mittlerweile sieben Open Device Labs</strong> stellen
				Unternehmen und die Community <strong>mehrere hundert Geräte</strong>
				anderen App- und Web-Entwicklern zur Verfügung.
				Bereits 2012 starteten (auch) in Köln die ersten "Geräteparks" mit dem
				Ziel Hardwareresourcen gemeinsam besser zu nutzen.
			</div>
		</div>
	</div>

	<div style="text-align: center; margin: 30px;">
		<h2><a href="http://thisiscologne.tumblr.com/" target="_blank">#thisiscologne</a></h2>
	</div>
	<div class="container">
		<style type="text/css">
			ol.tumblr_posts {
				list-style: none;
				margin: 0;
				padding: 0;
			}
			.tumblr_post, .tumblr_caption {
				display: none;
			}
			li.tumblr_photo_post:first-child, li.tumblr_photo_post:nth-child(2),
			li.tumblr_photo_post:nth-child(3), li.tumblr_photo_post:nth-child(4),
			li.tumblr_photo_post:nth-child(5), li.tumblr_photo_post:nth-child(6),
			li.tumblr_photo_post:nth-child(7), li.tumblr_photo_post:nth-child(8) {
				display: inline;
				margin: 0;
				padding: 0;
			}
			img.tumblr_photo {
				width: 220px;
				height: 220px;
				margin-right: 10px;
				margin-bottom: 10px;
			}
		</style>
		<div style="text-align: center">
			<script src="http://thisiscologne.tumblr.com/js" type="text/javascript"></script>
		</div>
	</div>
</div>

<!--
<div class="content">
	<div class="container">

		<img src="/static/images/plattform_ios.png" alt="iOS" class="span-3" style="margin-top: -5px;" />
		<img src="/static/images/plattform_android.png" alt="Android" class="span-3" style="margin-bottom: 15px;" />
		<img src="/static/images/plattform_html5.png" alt="HTML5" class="span-3" style="margin-bottom: 15px;" />
		<img src="/static/images/plattform_windows.png" alt="Windows" class="span-3" style="margin-bottom: 15px;" />
		<img src="/static/images/plattform_blackberry.png" alt="Blackberry" class="span-3" />

	</div>
</div>
-->
<!--
<div class="content">
	<div class="container">

		<a href="https://twitter.com/mobilecgn"><img src="/static/images/twitter_big.png" alt="Twitter" width="150" height="150"></a>
		<a href="https://www.facebook.com/mobilecgn"><img src="/static/images/facebook_big.png" alt="Facebook" width="150" height="150"></a>
		<a href="https://plus.google.com/118274408028336548190?rel=author"><img src="/static/images/google-plus_big.jpg" alt="Google+" width="150" height="150"></a>
		<a href="https://www.xing.com/net/mobilecgn/"><img src="/static/images/xing_big.png" alt="Xing" width="150" height="150"></a>

	</div>
</div>
-->
