---
layout: default
title: user group for ios, android, html5
---

<style type="text/css">
	.event-teaser .date {
		position: absolute;
		display: inline-block;
		margin-left: 0px;
		padding: 5px;
		color: white;
		background-color: #E01F1F;
		transform: rotate(-1deg);
		-webkit-transform: rotate(-1deg);
		-ms-transform: rotate(-1deg);
		-o-transform: rotate(-1deg);
		-moz-transform: rotate(-1deg);
	}
	.event-teaser .location {
		display: inline-block;
		margin-top: 40px;
		margin-left: 20px;
		padding: 5px;
		color: white;
		background-color: black;
		transform: rotate(+1deg);
		-webkit-transform: rotate(+1deg);
		-ms-transform: rotate(+1deg);
		-o-transform: rotate(+1deg);
		-moz-transform: rotate(+1deg);
	}
</style>

<div class="content">
	<div class="container">
		{% for post in site.categories.frontpage reversed limit:2 %}
			<div class="event-teaser span-8" style="margin-right: 50px; max-width: 260px;">
				<strong style="font-size: 108%;">{{ post.frontpage_line1 }}</strong><br/>
				<a href="{{ post.url }}">
					<h1>
						<span class="date">{{ post.frontpage_line2 }}</span>
						<span class="location">{{ post.frontpage_line3 }}</span>
					</h1>
				</a>
				{{ post.frontpage_line4 }}<br/>
				<a href="{{ post.url }}">Mehr Infos</a>
				{% if post.doodle %}
					&nbsp;|&nbsp; <a href="{{ post.doodle }}" target="_blank">Doodle</a>
				{% endif %}
				{% if post.xing %}
					&nbsp;|&nbsp; <a href="{{ post.xing }}" target="_blank">Xing</a>
				{% endif %}
				{% if post.meetup %}
					&nbsp;|&nbsp; <a href="{{ post.meetup }}" target="_blank">Meetup</a>
				{% endif %}
			</div>
		{% endfor %}

		<!--
		<div class="event-teaser span-16" style="margin-right: 60px; max-width: 580px;">
			<strong>Donnerstag, 5. März</strong>
			<a href="http://hackathon.mobile.cologne/">
				<h1>
					<span class="date">Android Wear(able) Hackathon</span>
					<span class="location">im Solution Space</span>
				</h1>
			</a>

			Mach mit beim ersten Android Wear(able) Hackathon in Köln. Setze neue Ideen um oder tauche ein in die Welt der Android Wear Platform.
			Pitch deine Ideen oder tritt einem Team bei um gemeinschaftlich in nur vier Stunden etwas neues zu kreieren.<br/><br/>
			<a href="http://hackathon.mobile.cologne/">Mehr Infos</a>
			&nbsp;|&nbsp; <a href="https://www.eventbrite.de/e/android-wearable-4-hour-venture-hackathon-tickets-15489913749" target="_blank">Anmeldung auf Eventbrite</a>
		</div>
		-->
		<div class="span-8 last">
			{% include _sidebar_newsletter_light.html %}
			{% include _sidebar_facebook.html %}
		</div>
	</div>

	<!--
	<div style="text-align: center; font-size: 20px; margin: 30px;">
		mehr aus unserer schönen Stadt
	</div>
	<div class="container">
		<div class="span-11 colborder">
			<h2><a href="http://www.objcgn.com/" target="_blank" style="
					display: block;
					height: 200px;
					background-image: url('/static/images/objcgn.png');
					background-repeat: no-repeat;
					background-position: left bottom;">Objective-Cologne</a></h2>
			<div>
				Die <strong>international ausgerichtete Cocoa / Objective-Conference</strong>
				findet dieses Jahr bereits zum dritten mal statt.
				Vom <strong>23.-25.&nbsp;September</strong> besteht diese aus
				einem zweitägigen Vortragsprogramm sowie einem anschließendem Hackathon.
			</div>
		</div>
		<div class="span-12 last">
			<h2><a href="http://koeln.opendevicelab.de/" target="_blank" style="
					display: block;
					height: 200px;
					background-image: url('/static/images/odlcgn.png');
					background-repeat: no-repeat;
					background-position: left bottom;">Open Device Labs</a></h2>
			<div>
				In <strong>mittlerweile sieben Open Device Labs</strong> stellen
				Unternehmen und die Community <strong>mehrere hundert Geräte</strong>
				anderen App- und Web-Entwicklern zur Verfügung.
				Bereits 2012 starteten (auch) in Köln die ersten "Geräteparks" mit dem
				Ziel Hardwareresourcen gemeinsam besser zu nutzen.
			</div>
		</div>
	</div>
	-->

	<div style="text-align: center; margin: 80px;">
		<h2><a href="https://thisiscologne.tumblr.com/" target="_blank">#thisiscologne powered by tumblr</a></h2>
	</div>
	<div class="container">
		<style type="text/css">
			.tmblr-iframe {
				display: none;
			}
			ol.tumblr_posts {
				list-style: none;
				margin: 0;
				padding: 0;
			}
			.tumblr_post, .tumblr_caption {
				display: none;
			}
			li.tumblr_photo_post:first-child, li.tumblr_photo_post:nth-child(2),
			li.tumblr_photo_post:nth-child(3), li.tumblr_photo_post:nth-child(4),
			li.tumblr_photo_post:nth-child(5), li.tumblr_photo_post:nth-child(6),
			li.tumblr_photo_post:nth-child(7), li.tumblr_photo_post:nth-child(8) {
				display: inline;
				margin: 0;
				padding: 0;
			}
			img.tumblr_photo {
				width: 220px;
				height: 220px;
				margin-right: 10px;
				margin-bottom: 10px;
			}
		</style>
		<div style="text-align: center">
			<script src="https://thisiscologne.tumblr.com/js" type="text/javascript"></script>
		</div>
	</div>
</div>
