---
layout: post
title: "Vortragsabend: App Developer Tools"
categories: ["frontpage"]
frontpage_line1: "Donnerstag, 14. November"
frontpage_line2: "App monitoring/logging"
frontpage_line3: "& Developer Tools"
frontpage_line4: "Wir freuen uns euch zu unserem nächsten Themenabend zum Thema App Developer Tools in die <a href=\"https://www.shop-apotheke.com/\"><strong>SHOP&nbsp;APOTHEKE</strong></a> einladen zu dürfen.<br/>Christan Hell spricht über <strong>App monitoring and remote logging mit ELK</strong>. Marc Kalmes und Gerd Bernhardt stellen im Anschluss verschiedene <strong>weitere Entwicklung Tools wie Charles, Paw und Co.</strong> vor."
themen: ["App monitoring and remote logging with ELK", "App Developer Tools wie Charles, Paw & Co."]
all_events_title: "Vortragsabend: App Developer Tools in der SHOP APOTHEKE"
all_events_text: Do. 14. November 2019
#doodle: https://doodle.com/poll/abaw92hinuizk46e
#xing: https://www.xing.com/events/-2110252
meetup: https://www.meetup.com/de-DE/mobilecgn/events/266201309/
#nerdhub: https://www.nerdhub.de/events/105-mobile-cologne/dates/29471
#hackenin: https://hacken.in/events/105-mobile-cologne/dates/34467
---

<div class="container span-12">
	<p>
		Gerne möchten wir euch
		<strong>am Donnerstag, den 14. November ab 18:30 Uhr</strong> in die
		<a href="https://www.shop-apotheke.com/"><strong>SHOP APOTHEKE</strong></a>
		zu unserem nächsten Vortragsabend einladen.
	</p>
	<p>
		Wir freuen uns über zwei spannende 'App Developer Tools' Talks:
	</p><br/>
<!--
</div>
<div class="clearfix"></div>

<div class="container span-24">
-->
	<p>
		<strong>App monitoring and remote logging with ELK</strong> mit
		Christian Hell
	</p>
	<p>
		ELK (Elastic search, Logstash and Kibana), Standard für Servermonitoring,
		kann sehr einfach auch für mobile Applikationen genutzt werden.
		Mit nur wenigen Zeilen Code können beliebig viele Custom-Events
		flexibel geloggt und ausgewertet werden.
		Ideal zur Fehlererkennung, Analyse von Benutzerverhalten und Erstellung
		von dynamischen Statistiken für Kunden/Stakeholder!
	</p><br/>

	<p>
		<strong>More App Developer Tools</strong> mit
		Marc Kalmes und Gerd Bernhardt
	</p>
	<p>
		Der zweite Vortrag bietet Einblicke in das Handwerkszeug der (iOS) Entwicklung.
		Tools wie Charles, Paw und natürlich das Terminal stehen im Mittelpunkt des Talks.
		Wer mit tmuxinator noch nicht in Berührung kam, darf gespannt sein.
	</p>
	<br/>
	
	<p>
		<strong>Über SHOP APOTHEKE</strong>
	</p>
	<p>
		Wir danken der <a href="https://www.shop-apotheke.com/"><strong>SHOP&nbsp;APOTHEKE</strong></a>
		für Ihre Gastfreundschaft. Die SHOP&nbsp;APOTHEKE ist ein europäisches Versandhaus
		für Arzneumittel und weitere Produkte in mittlerweile 8 Ländern.
		Mit einem jährlichen Wachstum von über 50&nbsp;%, 1.000&nbsp;Mitarbeitern und über
		65.000&nbsp;Paketen täglich. Die SHOP&nbsp;APOTHEKE baut ihre europäische Führungsposition
		weiter aus und ist dementsprechend ständig auf der Suche nach neuen kompetenten Kollegen.
	</p>
	<p style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
		<a href="https://www.shop-apotheke.com/"><img src="/static/images/shop-apotheke.png" alt="SHOP APOTHEKE" width="260" height="126"></a>
	</p>
	<br/>
</div>
<div class="clearfix"></div>

<h3>Agenda</h3>
<div class="container span-15 last clear">
	<div class="span-3"><p>~ 18:30 Uhr</p></div>
	<div class="span-11 last">
        <p>
            <strong>Einlass und kennenlernen 👋</strong>
        </p>
    </div>
	<div class="span-3"><p>~ 19:00 Uhr</p></div>
	<div class="span-11 last">
		<p>
			<strong>[Talk] App monitoring and remote logging with ELK</strong><br/>
			Christian Hell
		</p>
		<p>
			<strong>[Talk] More App Developer Tools</strong><br/>
			Marc Kalmes und Gerd Bernhardt
		</p>
    </div>
	<div class="span-3"><p>danach</p></div>
	<div class="span-11 last">
		<p>
			Diskutieren, austauschen, netzwerken / kennenlernen... 🍻
		</p>
	</div>
</div>
<div class="clearfix"></div><br/>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung an:&nbsp;
	{% include _content_register.html %}
</p><br/>

{% include _location_shopapotheke.html %}
