---
layout: post
title: "Google IO 2019 Extended"
#categories: ["frontpage"]
frontpage_line1: "Dienstag, 07. Mai"
frontpage_line2: "Google IO Extended"
frontpage_line3: "Location tba."
frontpage_line4: "Wir freuen uns sehr euch auch dieses Jahr wieder zum Google IO Extended „Public Viewing“ einzuladen. In geselliger Runde können wir mit dem ein oder anderen Kölsch der Keynote lauschen."
themen: ["Google IO 2019 Extended"]
all_events_title: "Google IO 2019 Extended"
all_events_text: Di. 07. Mai 2019 bei Cologne Intelligence
#doodle: https://doodle.com/poll/t8s2sp7wnagmya36
#xing: https://www.xing.com/events/-1933428
meetup: https://www.meetup.com/de-DE/mobilecgn/events/258526927/
#nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/29471
#hackenin: http://hacken.in/events/105-mobile-cologne/dates/3173
---

<div class="container span-13">
	<p>
		Wir freuen uns sehr euch auch dieses Jahr wieder
		zum <strong>Google IO Extended „Public Viewing“</strong> einzuladen.
	</p>
	<p>
		Los geht es am Dienstag, den 07. Mai <strong>ab 18:30 Uhr</strong>.
		Die Keynote beginnt um 19 Uhr.
	</p>
	<p>
		In geselliger Runde können wir mit dem ein oder anderen Kölsch der Keynote lauschen.
	</p><br/>

	<p>
		<strong>Google IO</strong>
	</p>
	<p>
		Die jährliche Entwicklerkonferenz von Google nutzt die Firma hinter
		Android regelmäßig um eine neue Version seines Betriebsystems
		und anderer Infrastruktur-Kompoenten anzukündigungen.
	</p><br/>

	<!--
	<p>
		<strong>Über Cologne Intelligence / Mobile Minds</strong>
	</p>
	<p>
		Wir danken <a href="http://www.cologne-intelligence.de/ci-mobile-minds/">Cologne Intelligence</a>
    für Ihre Gastfreundschaft und die Organisation dieses Google IO Extended Events!
    Cologne Intelligence betreut mit über 100 Mitarbeitern ihre Kunden
    von ersten strategischen Überlegung bis hin zur Umsetzung von IT-Anwendungen.
    Das "Mobile Minds"-Team von CI entwickelt Business-Anwendungen
    für Android, iOS, Windows Mobile sowie hybrid.
	</p>
	<p style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
		<a href="http://www.cologne-intelligence.de/ci-mobile-minds/"><img src="/static/images/cologneintelligence.jpg" alt="Cologne Intelligence" width="208" height="94"></a>
	</p><br/>
	-->
</div>
<div class="clearfix"></div>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung (Reservierung) an: &nbsp;
	{% include _content_register.html %}
</p><br/>

<!-- {% include _location_cologneintelligence.html %} -->
