---
layout: post
title: "Vortragsabend: The future of Progressive Web Apps und Component Based Design mit Sketch"
categories: ["frontpage"]
frontpage_line1: "Vortragsabend"
frontpage_line2: "The future of PWAs +"
frontpage_line3: "Component Based Design mit Sketch"
frontpage_line4: "Gerne möchten wir euch <strong>am Donnerstag, den 28. Juni ab 18:30 Uhr</strong> ins <strong>denkwerk</strong> einladen. Diesmal mit zwei spannenden Vorträgen zur <strong>Zukunft von Progressive Web Apps</strong> sowie <strong>Component Based Design mit Sketch</strong>."
themen: ["The future of Progressive Web Apps", "Component Based Design mit Sketch"]
all_events_title: "Vortragsabend: PWA und Sketch"
all_events_text: Do. 28. Juni 2018 bei denkwerk
#doodle: https://doodle.com/poll/bhp2z54pawtzuv24
#xing: https://www.xing.com/events/-1953954
#meetup: https://www.meetup.com/de-DE/mobilecgn/events/251401567/
#nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/29471
#hackenin: http://hacken.in/events/105-mobile-cologne/dates/34467
---

<div class="container span-13">
	<p>
		Gerne möchten wir euch
		<strong>am Donnerstag, den 28. Juni ab 18:30 Uhr</strong> ins
		<a href="https://www.denkwerk.com/"><strong>denkwerk</strong></a> einladen.
		Diesmal mit zwei spannenden Vorträgen zur
		<strong>Zukunft von Progressive Web Apps</strong> sowie
		<strong>Component Based Design mit Sketch</strong>.
	</p>
	<br/>

	<p>
		<strong>The future of Progressive Web Apps</strong>
	</p>
	<p>
		Daniel Vogel und Robert Krämer zeigen in welche Richtung
		sich mobile Progressive Web Apps entwickeln werden / können;
		sowie welche Auswirkungen PWAs auf das Web haben.
	</p>
	<p>
		Daniel ist Web Development Specialist bei Denkwerk:.
		Als gelernter Linguist fühlt er sich in (Programmier-)Sprachen zuhause.
		Für das denkwerk setzt er seit 2015 Front-Ends um und konzertiert damit
		erfolgreich Endpunkte und Content Management Systeme.
	</p>
	<p>
		Robert ist Technical Director bei Denkwerk.
		Er ist seit über 10 Jahren im denkwerk und dirigiert unterschiedlichste
		Themenfelder zwischen Front-Ends und Back-Ends. 
	</p>
	<br/>

	<p>
		<strong>Component Based Design mit Sketch</strong>
	</p>
	<p>
		Sebastian Müller gibt einen Einblick in das Thema Atomic / komponentenbasiertes Design.
		Was sind die Prinzipien von Atomic Design und wie kann ich sie möglichst effektiv
		in meinen Design Workflow mit Sketch übertragen?
	</p>
	<p>
		Sebastian ist Freelancer seit 2008 und nutzt seine Skills
		(Visual Design, UI Design, UX Design, Interface Design, Screen Design, ...)
		für Mobile App Design & Responsive Web Design.
	</p>
	<p>
		<a href="http://www.sebastianm.de/">Webseite</a>
		<a href="https://medium.com/@vleischmeider">Blog</a>
		<a href="https://www.xing.com/profile/Sebastian_Mueller202">Xing</a>
	</p>
	<br/>

	<p>
		<strong>Über denkwerk</strong>
	</p>
	<p>
		Wir danken <a href="https://www.denkwerk.com/">denkwerk</a>
		für seine Gastfreundschaft.
		Denkwerk ist eine der führenden digital-kreativ Agenturen in Deutschland
		mit Büros in Berlin, München, Hamburg und Köln - Ehrenfeld.
	</p>
	<p style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
		<a href="https://www.denkwerk.com/"><img src="/static/images/denkwerk.png" alt="denkwerk" width="150" height="150"></a>
	</p><br/>

</div>
<div class="clearfix"></div>

<h3>Agenda</h3>
<div class="container span-15 last clear">
	<div class="span-2"><p>~ 18:30 Uhr</p></div>
	<div class="span-13 last">
        <p>
            <strong>Opening &amp; come together</strong>
        </p>
    </div>
	<div class="span-2"><p>~ 19:00 Uhr</p></div>
	<div class="span-13 last">
		<p>
			<strong>The future of Progressive Web Apps</strong><br/>
			Daniel Vogel und Robert Krämer, denkwerk
		</p>
		<p>
			<strong>Component Based Design mit Sketch</strong><br/>
			Sebastian Müller
		</p>
	</div>
	<div class="span-2"><p>danach</p></div>
	<div class="span-13 last">
		<p>
			Diskutieren, austauschen, Bier trinken, etc.
		</p>
	</div>
</div>
<div class="clearfix"></div><br/>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung an:&nbsp;
	{% include _content_register.html %}
</p><br/>

{% include _location_denkwerk.html %}
