---
layout: post
title: "Mobile Stammtisch Köln"
categories: ["frontpage"]
frontpage_line1: "Donnerstag, 01. Februar"
frontpage_line2: "Mobile Stammtisch"
frontpage_line3: "Peters Brauhaus"
frontpage_line4: "Wir möchten euch herzlich zu unserem nächsten Stammtisch einladen. In geselliger Runde, bei deftigem Essen und einem gekühlten Kölsch, mit gleichgesinnten angeregt diskutieren oder einfach ganz entspannt ein wenig Small-Talk halten."
all_events_title: "Mobile Stammtisch Köln"
all_events_text: Do. 01. Februar 2018 im Peters Brauhaus
doodle: https://doodle.com/poll/9bgy2nw8rgeck4ww
xing: https://www.xing.com/events/-1906139
meetup: http://www.meetup.com/mobilecgn/events/247151191/
#nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/29471
#hackenin: http://hacken.in/events/105-mobile-cologne/dates/3173
---

<p>
	Wir möchten euch zu unserem nächsten Stammtisch einladen:
</p>
<p>
	Am Donnerstag, den 01. Februar findet ihr uns <strong>ab 19 Uhr im Peters Brauhaus</strong>.
</p>
<p>
	In geselliger Runde, bei deftigem Essen und einem gekühlten Kölsch,
	mit gleichgesinnten angeregt diskutieren oder einfach ganz entspannt
	ein wenig Small-Talk halten.
</p>
<p>
	Wir freuen uns auf euch.
</p>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung (Reservierung) an: &nbsp;
	{% include _content_register.html %}
</p>

{% include _location_peters.html %}
