---
layout: post
title: "Vortragsabend: Augmented Reality - Theorie und Praxis"
categories: ["frontpage"]
frontpage_line1: "Mittwoch, 02. Mai"
frontpage_line2: "Augmented Reality"
frontpage_line3: "Theorie und Praxis"
frontpage_line4: "Gerne möchten wir euch wieder in die Räumlichkeiten vom <strong>hack.institute</strong> einladen. Diesmal mit einem spannenden Abend rum um das Thema <strong>Augmented Reality</strong>. Wir freuen uns auf <strong>zwei Talks zur Theorie und Praxis</strong> von AR sowie einen <strong>Ausprobierabend</strong> beim hack.institute."
themen: ["Augmented Reality - Theoriewissen", "Augmented Reality - Praxis Talk", "Augmented Reality zum Anfassen"]
all_events_title: "Vortragsabend: Augmented Reality"
all_events_text: Mi. 2. Mai 2018 beim hack.institute
#doodle: https://doodle.com/poll/nh9ppveyq9suykxc
#xing: https://www.xing.com/events/-1914949
#meetup: https://www.meetup.com/mobilecgn/events/247842275/
#nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/29471
#hackenin: http://hacken.in/events/105-mobile-cologne/dates/34467
---

<div class="container span-13">
	<p>
		Gerne möchten wir euch
		<strong>am Mittwoch, den 2. Mai ab 18:30 Uhr</strong> wieder in die
		Räumlichkeiten vom <a href="https://hack.institute/"><strong>hack.institute / Headquarter[s] Downtown</strong></a> einladen.
	</p>
	<p>
		Diesmal mit einem spannenden Abend rum um das Thema Augmented Reality.
		Wir freuen uns auf zwei Talks zur Theorie und Praxis von AR sowie einen
		Ausprobierabend beim hack.institute.
	</p>
	<br/>

  <p>
		<strong>Augmented Reality - Theoriewissen</strong>
	</p>
	<p>
		Der erste Talk wird eine Einführung in die Grundlagen von AR/VR geben.<br/>
		Steffen Tröster von <a href="https://www.inovex.de/"><strong>inovex</strong></a>
		beschäftigt sich seit langem mit AR und Indoor Navigation.
	</p>
	<br/>

	<p>
		<strong>Augmented Reality - Praxis Talk</strong>
	</p>
	<p>
		Der zweite Vortrag gibt praktische Einblicke in die Entwicklung von AR Systemen
		mit Unity und ARKit.<br/>
		Tobias Kemper ist XR Software Architect bei <a href="http://www.worldofvr.net/"><strong>World of VR</strong></a>
		und Justin Loose arbeitet bei <a href="https://www.materna.de/"><strong>Materna</strong></a>.
		Beide haben in der Vergangenheit verschiedene AR Lösungen für Kunden umgesetzt.
	</p>
	<br/>

	<p>
		<strong>Augmented Reality zum Anfassen</strong>
	</p>
	<p>
		Anschließend könnt ihr in den Räumlichkeiten vom hack.institute verschiedene
		AR Systeme ausprobieren. Alexander Speckmann vom <a href="https://hack.institute/"><strong>hack.institute</strong></a>
		steht euch für Fragen zu den verschiedene Systemen gerne zur Verfügung.
	</p>
	<br/>

</div>
<div class="clearfix"></div>

<h3>Agenda</h3>
<div class="container span-15 last clear">
	<div class="span-2"><p>~ 18:30 Uhr</p></div>
	<div class="span-13 last">
        <p>
            <strong>Opening &amp; come together</strong>
        </p>
    </div>
	<div class="span-2"><p>~ 19:00 Uhr</p></div>
	<div class="span-13 last">
		<p>
			<strong>Augmented Reality - Theoriewissen</strong><br/>
			Steffen Tröster, inovex
		</p>
		<p>
			<strong>Augmented Reality - Praxis Talk</strong><br/>
			Tobias Kemper, World of VR &amp; Justin Loose, Materna
		</p>
	</div>
	<div class="span-2"><p>danach</p></div>
	<div class="span-13 last">
		<p>
			<strong>Augmented Reality zum Anfassen</strong><br/>
			Alexander Speckmann, hack.institute
		</p>
		<p>
			Diskutieren, austauschen, Bier trinken, etc.
		</p>
	</div>
</div>
<div class="clearfix"></div><br/>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung an:&nbsp;
	{% include _content_register.html %}
</p><br/>

{% include _location_hackinstitute.html %}
