---
layout: post
title: "Vortragsabend: Apps with Xamarin &amp; Consuming RESTful APIs with Swagger"
categories: ["frontpage"]
frontpage_line1: "Donnerstag, 12. April"
frontpage_line2: "Apps with Xamarin &amp;"
frontpage_line3: "Consuming RESTful APIs with Swagger"
frontpage_line4: "Wir möchten euch gerne zum nächsten Vortragsabend in die Räumlichkeiten von <strong>hack.institute</strong> einladen. Mit zwei spannenden Vorträgen zu den Themen <strong>Xamarin</strong> und <strong>RESTful APIs with Swagger</strong> wird dies bestimmt ein spannder, informativer und diskussionsfreudiger Abend."
themen: ["Apps with Xamarin", "Consuming RESTful APIs with Swagger"]
all_events_title: "Vortragsabend: Xamarin &amp; Swagger"
all_events_text: Do. 12. April 2018 beim hack.institute
#doodle: https://doodle.com/poll/nh9ppveyq9suykxc
#xing: https://www.xing.com/events/-1914949
#meetup: https://www.meetup.com/mobilecgn/events/247842275/
#nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/29471
#hackenin: http://hacken.in/events/105-mobile-cologne/dates/34467
---

<div class="container span-13">
	<p>
		Wir möchten euch gerne zum nächsten Vortragsabend
		<strong>am Donnerstag, den 12. April ab 18:30 Uhr</strong> in die
		Räumlichkeiten von <a href="https://hack.institute/"><strong>hack.institute / Headquarter[s] Downtown</strong></a> einladen.
	</p>
	<p>
		Mit zwei spannenden Vorträgen zu den Themen <strong>Xamarin</strong> und <strong>RESTful APIs with Swagger</strong>
		wird dies bestimmt ein spannder, informativer und diskussionsfreudiger Abend.
	</p>
	<p>
		Sylwester Wieczorkowski arbeiten als Lead Developer bei  <a href="https://leaware.com/en"><strong>Leaware</strong></a>.
	</p>
	<br/>

  <p>
		<strong>App-Development with Xamarin</strong>
	</p>
	<p>
		Sylwester will give you an <strong>introduction into Xamarin</strong> and the pros and cons of it, and why Leaware develops all their apps with it.
	</p>
	<p>
		The talk will also compare the different front technolgies Xamarin.Forms vs Xamarin Native vs MvvmCross, and how to choose the right approach for each project.
	</p>
	<p>
		What are the challenges in long-term development of apps for different platforms, with the context of a <strong>Shared codebase, User Experience</strong> and Maintenance/documentation.
	</p>
	<br/>

	<p>
		<strong>Consuming RESTful APIs with Swagger</strong>
	</p>
	<p>
		The most apps today are based on massiv API usage. The second talk will give an introduction into Swagger
		and how to keep your mobile data access layer up-to-date in no time.
	</p>
	<p>
		It shows also how to speed up integration of mobile app with the backend?
	</p>
	<br/>

	<p>
		<strong>Über Leaware</strong>
	</p>
	<p>
		Thanks to <a href="https://leaware.com/en">Leaware</a> for supporting us and both
		talks of this evening.
		Leaware is a international (Poland, Germany and USA) app agency.
	</p>
	<p style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
		<a href="https://leaware.com/en"><img src="/static/images/leaware.svg" alt="Leaware" width="294" height="50"></a>
	</p><br/>
</div>
<div class="clearfix"></div>

<h3>Agenda</h3>
<div class="container span-15 last clear">
	<div class="span-2"><p>~ 18:30 Uhr</p></div>
	<div class="span-13 last">
        <p>
            <strong>Opening &amp; come together</strong>
        </p>
    </div>
	<div class="span-2"><p>~ 19:00 Uhr</p></div>
	<div class="span-13 last">
		<p>
			<strong>App-Development with Xamarin</strong><br/>
			Sylwester Wieczorkowski, Leaware
		</p>
		<p>
			<strong>Consuming RESTful APIs with Swagger</strong><br/>
			Sylwester Wieczorkowski, Leaware
		</p>
	</div>
	<div class="span-2">danach</div>
	<div class="span-13 last">Diskutieren, austauschen, Bier trinken, etc.</div>
</div>
<div class="clearfix"></div><br/>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung an:&nbsp;
	{% include _content_register.html %}
</p><br/>

{% include _location_grandcentrix.html %}
