---
layout: post
title: "Stammtisch: WWDC meets GoogleIO"
categories: ["frontpage"]
frontpage_headline: "Ein Technologie-Feuerwerk haben Apple und Google auf ihren Hausmessen losgelassen. Zeit das ihr ein Fazit zur WWDC und Google IO zieht und wir gemeinsam über die Folgen reden. Kommt vorbei zu unser geselligen Runde."
frontpage_headline_date: Do. 17. Juli
frontpage_headline_location: Gaffel am Dom
themen: ["WWDC meets GoogleIO"]
all_events_title: "Stammtisch: WWDC meets GoogleIO"
all_events_text: Do. 17. Juli 2014 im Früh am Dom
doodle: http://www.doodle.com/t5dpiwzxrhxvcbyh
#xing: https://www.xing.com/events/-1262811
#meetup: http://www.meetup.com/mobilecgn/events/176752792/
#nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/29461
#hackenin: http://hacken.in/events/105-mobile-cologne/dates/3172
---

<p>
	Wir möchten euch zum Stammtisch, <strong>ab 18:30 Uhr</strong>, einladen.
</p>
<p>
	Ein Technologie-Feuerwerk haben Apple und Google auf ihren Hausmessen losgelassen. Zeit das ihr ein Fazit zur WWDC und Google IO zieht und wir gemeinsam über die Folgen reden. Kommt vorbei zu unser geselligen Runde.
</p>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung (Reservierung) an: &nbsp;
	{% include _content_register.html %}
</p>

{% include _location_gaffel.html %}
