---
layout: post
title: "Mobile Design LightningTalks"
categories: ["frontpage"]
frontpage_headline: "Mobile Design umfasst alle Bereiche der App-Entwicklung, vom Konzept bis zur Umsetzung. Um dem Gerecht zu werden setzen wir diesmal mit einem LT-Abend auf eure Mithilfe.<br/>Vorträge: „Ich sehe was, was du nicht denkst“, iOS7-Design Tipps und Tricks, Android meets Design sowie „mcommerce - Den Nutzer im Fokus“."
frontpage_headline_date: Do. 13. März
frontpage_headline_location: bei denkwerk
themen: ["Mobile Design: Ich sehe was, was du nicht denkst“", "iOS7-Design Tipps und Tricks", "Android meets Design", "mcommerce - Den Nutzer im Fokus"]
all_events_title: "Mobile Design LightningTalks"
all_events_text: Do. 13. März 2014 bei denkwerk
doodle: http://www.doodle.com/hk8wm9xrgircgdxu
xing: https://www.xing.com/events/-1367457
#nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/29471
#hackenin: http://hacken.in/events/105-mobile-cologne/dates/3173
---

<div class="container span-15">
<p>
	Wir möchten unsere Veranstaltungsreihe am 13. März dem Thema <strong>Mobile Design</strong> widmen.
	So haben die Theman <em>Usability</em>, <em>Mensch-Computer-Interaktionen</em>,
	<em>Layout</em>, <em>Propotionen</em>, <em>Leserichtung</em>, <em>Wahrnehmung</em>,
	<!--<em>Psychologie</em>, <em>Typography</em>, <em>Animationen</em>,-->
	* ... einen so hohen Stellenwert in der IT wie heute.
	<br/>
	<small>*Um nur einige Themenbereiche zu nennen!</small>
</p>
<p>
	Gerne würden wir über das "gesamte" Themenspektrum von Design an diesem Abend mit euch diskutieren.
	Natürlich werden die Vortragsthemen und die Zeit die natürlichen Grenzen sein.
	Um den Abend aber lebhaft zu gestalten brauchen wir eure Mithilfe:
</p>
<p>
	<strong>Um möglichst viele Bereiche zu betrachten suchen wir noch weitere LTs/Kurzvorträge.
	Wenn ihr Lust habt ein Thema einzubringen (5-15 Minuten) meldet euch bitte kurz bei uns.</strong>
</p>
<div class="clearfix"></div>

<h3>Agenda</h3>
<div class="container span-15 last clear">
	<div class="span-2">18:30 Uhr</div>
	<div class="span-13 last">Opening und ggf. Themen sammeln / Programm vorbereiten</div>
	<div class="span-2">18:45 Uhr</div>
	<div class="span-13 last">
		<strong>„Ich sehe was, was du nicht denkst.“ von Christoph Kolb,</strong>
		<a href="http://www.widjet.de/" target="_blank">widjet GmbH</a>
	</div>
	<div class="span-2">19:15 Uhr</div>
	<div class="span-13 last">
		Weitere bestätigte Lightning Talks, u.a.:
		<ul style="margin: 0;">
			<li>
				<strong>iOS 7 Design-Tipps &amp; Tricks, David Linsin</strong>,
				u.a. am Beispiel der <a href="http://furryfishapps.com/transit2/" target="_blank">Transit 2</a> app
			</li>
			<li>
				<strong>mcommerce - Den Nutzer im Fokus, Henning Schenk</strong>,
				<a href="http://www.denkwerk.com/" target="_blank">denkwerk GmbH</a>
			</li>
			<li>
				<strong>Android meets Design, Joscha Häring</strong>,
				<a href="http://www.grandcentrix.net/" target="_blank">grandcentrix GmbH</a>
			</li>
		</ul>
		Gerne kann die Veranstaltung durch weitere Vorträge (zum Thema Design)
		erweitert werden.
		Bitte sprich uns hierfür einfach per E-Mail oder kurz vor der Veranstaltung an.
	</div>
	<div class="span-2">danach</div>
	<div class="span-13 last">Diskutieren, austauschen, Bier trinken, etc.</div>
</div>
<div class="clearfix"></div><br/>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung an:&nbsp;
	{% include _content_register.html %}
</p>

{% include _location_denkwerk.html %}
