---
layout: post
title: After Work mobile Stammtisch
categories: ["frontpage"]
frontpage_headline: "<strong>After Work mobile Stammtisch:</strong><br/>Gesellige Runde mit gleichgesinnten. Kommt vorbei zum Essen und Trinken."
frontpage_headline_date: Do. 9. Januar
frontpage_headline_location: im Früh am Dom
all_events_title: Mobile Stammtisch
all_events_text: Do. 9. Januar 2014 im Früh am Dom
doodle: http://www.doodle.com/miwzpbvevuhvtk43
#xing: https://www.xing.com/events/-1262811
nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/29461
hackenin: http://hacken.in/events/105-mobile-cologne/dates/3172
---

<p>
	Wir möchten euch zum Stammtisch, <strong>ab 18:30 Uhr</strong>, in die Brauerei Früh am Dom einladen.
</p>
<p>
	Wer mag kann in geselliger Runde diskutieren und sich mit gleichgesinnten austauschen.
	Neben dem ein oder anderem Bier, werden wir auch die Speisekarte in Augenschein nehmen.
</p>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung (Reservierung) an: &nbsp;
	{% include _content_register.html %}
</p>

{% include _location_frueh.html %}
