---
layout: post
title: "Interactive Cologne Spezial"
categories: ["frontpage"]
frontpage_headline: "Im Mai möchten wir mit euch unser zweijähriges Jubiläum feiern. Aus diesem Anlass verlegen wir unseren Vortragsabend in die gemütliche Wohngemeinschaft in bester Innenstadtlage."
frontpage_headline_date: Do. 22. Mai
frontpage_headline_location: Wohngemeinschaft
themen: ["Indoor Ortung für Android", "Micro Location-based Apps mit iBeacon", "Crossplattform Push Notifications"]
all_events_title: "Interactive Cologne Spezial"
all_events_text: Do. 22. Mai 2014 in der Wohngemeinschaft
doodle: http://doodle.com/yk6xnaz9wmqyc4zh
xing: https://www.xing.com/events/-1400623
meetup: http://www.meetup.com/mobilecgn/events/176752792/
nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/42641
hackenin: http://hacken.in/events/105-mobile-cologne/dates/3988
---

<div class="container span-15">
<img src="/static/images/events/interactive-cologne-2014.png" style="width: 100%;">

<p>
	Im Mai möchten wir mit euch unser zweijähriges Jubiläum feiern.
	Hier findet ihr einen Rückblick über unsere <a href="/about.html">Themen</a>
	und <a href="/termine.html">Veranstaltungen</a>.
</p>
<p>
	Gleichzeitig möchten wir,
	als Satelliten Event der <a href="http://2014.interactive-cologne.com/" target="_blank">Interactive Cologne 2014</a>
	und im Hinblick auf den am Wochenende stattfindenden Hackathon,
	euch ein breites Themenpaket präsentieren:
</p>
<ul style="margin: 0;">
	<li><strong><a href="#android-indoor">Indoor Ortung für Android</a></strong></li>
	<li><strong><a href="#ibeacon">Micro Location-based Apps mit iBeacon</a></strong></li>
	<li><strong><a href="#push">Crossplattform Push Notifications</a></strong></li>
</ul>
<p>
	Erstmals findet unsere Veranstaltung in <a href="#location">der Wohngemeinschaft</a> statt.
	Im direkten Anschluss an unser Meetup findet hier ebenfalls die „after show“
	<em>INTERACTIVE Meet &amp; Greet</em> statt.
	<img src="/static/beer.png" style="height: 1em;" />
</p>

<h3 style="margin-top: 1.5em;"><a name="android-indoor" style="text-decoration: none;">Indoor Ortung für Android</a></h3>
<p>
	Die indoor Navigation ohne GPS ist ein komplexes Problem und bisher hat sich,
	trotz interessanter Anwendungsfälle, hier keine Lösung etablieren können.
	Das gerade veröffentlichte OpenSource Framework zur indoor Ortung über WLAN
	soll dieses Problem für die Android Plattform lösen.
	Sie erlaubt Entwicklern die Integration in die eigene App um die Position
	des Nutzers zu ermitteln. Die Lokalisierung erfolgt primär anhand von WLAN-Fingerprints.
	Zusätzlich können auch anderen Sensoren (z.B. Accelerometer) und Verfahren (z.B. Map Matching) genutzt werden.
</p>
<p>
	Das vorgestellte Framework beinhaltet Funktionen zur Erstellung von Karten und
	Algorithmen zur Integration in eine eigene Android App.
	Der Vortrag beschreibt den Einsatz der Technologien und Algorithmen
	in einer Beispielanwendung sowie die Integration zur originalgetreue Georefenzierung.
</p>
<p>
	Robert Linden ist Software-Entwickler bei der <a href="http://www.tarent.de/" target="_blank">tarent GmbH</a>.
</p>
<p>
	Den Foliensatz zum Nachlesen findet ihr hier als
	<a href="/2014-05-22/Indoor_Localisation_mit_Android.pdf">PDF</a> (34 MB) oder
	<a href="/2014-05-22/Indoor_Localisation_mit_Android.odp">ODP</a> (8 MB)
</p>

<h3 style="margin-top: 1.5em;"><a name="ibeacon" style="text-decoration: none;">Micro Location-based Apps mit iBeacon</a></h3>
<p>
	Welche Technologie steckt hinter dem Buzz um iBeacon?<br/>
	Was liefert die Technologie wirklich und wie kann man das nutzen?<br/>
	Nach einer Einführung in die Thematik sollen die aktuellen technischen Möglichkeiten
	und Probleme beleuchtet werden. Dadrüber hinaus soll ein Blick in die Software-Entwicklung
	mit iBeacons unter iOS geworfen werden. Hier werden die verschiedenen Möglichkeiten
	im Umgang mit der iBeacon / Bluetooth LE Technologie vorgestellt.
</p>
<p>
	Christian Stahl von <a href="http://www.thinkmobile.de/" target="_blank">Think Mobile</a>
	ist Entwickler für Android und iOS Anwendungen.<br/>
	Christian Neuls arbeitet als Software-Entwickler (Mobile/Web) bei
	<a href="http://www.denkwerk.com/" target="_blank">denkwerk</a>.
</p>


<h3 style="margin-top: 1.5em;"><a name="push" style="text-decoration: none;">Crossplattform Push Notifications</a></h3>
<p>
	Interaktion mit dem Benutzer ist ein zentraler Bestandteil eines mobilen Betriebsystems und
	bieten eine komfortable Möglichkeit um mit dem Benutzer in Kontakt zu treten.
	Der <a href="http://aerogear.org/docs/guides/aerogear-push-ios/unified-push-server/">UnifiedPush Server</a>
	aus dem AeroGear Projekt unterstützt Entwickler beim Versand von Push Nachrichten an
	unterschiedliche Plattformen (Android, iOS und Firefox OS, inklusive Device-Management).
</p>
<p>
	Der Vortrag gibt eine Einführung zu Push Nachrichten sowie die effektive Umsetzung
	in verschiedenen Szenerien, etwa Geolocation oder personalisierte Nachrichten.
	Ebenfalls zeigt der Vortrag die Integration des Servers für den Versand von Push Nachrichten
	aus der eigenen Anwendung heraus.
</p>
<p>
	Matthias Wessendorf arbeitet bei Red Hat und ist der Project-Lead des AeroGear Projekts.
	Er betreibt einen <a href="http://matthiaswessendorf.wordpress.com" target="_blank">Blog</a>
	und <a href="https://twitter.com/mwessendorf" target="_blank">twittert</a>.
</p>

<div class="clearfix"></div>

<h3 style="margin-top: 1.5em;">Agenda</h3>
<div class="container span-15 last clear">
	<div class="span-3">Ab 17:00 Uhr</div>
	<div class="span-12 last">
		„Einlass“ - Come together und Getränke holen
		<img src="/static/beer.png" style="height: 1em;" />
	</div>
	<div class="span-3">Ab 18:00 Uhr</div>
	<div class="span-12 last">
		Vorträge (Reihenfolge ist noch offen):<br/>
		<!-- 18:15 ?? -->
		[Talk] Indoor Ortung für Android mit Robert Linden, tarent GmbH<br/>
		<!-- 19:00 ?? -->
		[Talk] Micro Location-based Apps mit iBeacon mit Christian Stahl, Think Mobile und Christian Neuls, denkwerk<br/>
		<!-- 19:45 ?? -->
		[Talk] Crossplattform Push Notifications mit Matthias Wessendorf, Red Hat / Apache Foundation<br/>
	</div>
	<div class="span-3">Anschließend</div>
	<div class="span-12 last">
		„After show“ <em>INTERACTIVE Meet &amp; Greet</em> am selben Ort.
		<img src="/static/beer.png" style="height: 1em;" />
	</div>
</div>
<div class="clearfix"></div><br/>

<h3 style="margin-top: 1.5em;">Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung (auf euer präferierten Platform) an:<br/>
	{% include _content_register.html %}
</p>

{% include _location_wohngemeinschaft.html %}
