---
layout: post
title: "Mobile Stammtisch"
categories: ["frontpage"]
frontpage_headline: "In geselliger Runde gleichgesinnte kennenlernen, angeregt diskutieren oder einfach ein wenig Small-Talk bei einem kühlem Blonden halten."
frontpage_headline_date: Do. 14. August
frontpage_headline_location: Biergarten am Aachener Weiher
all_events_title: "Mobile Stammtisch"
all_events_text: Do. 14. August 2014 am Aachener Weiher
doodle: http://www.doodle.com/9dr6db2cumpnbtye
#xing: https://www.xing.com/events/-1349588
#meetup: http://www.meetup.com/mobilecgn/events/176752792/
#nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/29471
#hackenin: http://hacken.in/events/105-mobile-cologne/dates/3173
---

<p>
	Wir möchten euch zum Stammtisch, <strong>ab 18:30 Uhr</strong>, einladen.
</p>
<p>
	In geselliger Runde gleichgesinnte kennenlernen, angeregt diskutieren oder einfach ein wenig Small-Talk bei einem kühlem Blonden halten.
</p>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung (Reservierung) an: &nbsp;
	{% include _content_register.html %}
</p>

{% include _location_aachenerweiher.html %}
