---
layout: post
title: "Vortragsabend: Mobile heute und morgen"
categories: ["frontpage"]
frontpage_headline: "<strong>Mobile heute und morgen</strong><br/>• Wie Mobile das Web & Internet verändert... Ein Rück- und Ausblick!<br/>• Mobile und Mobile-Payment in Afrika. Was wir lernen können!?"
frontpage_headline_date: Do. 13. Februar
frontpage_headline_location: im cowoco
themen: ["Wie Mobile das Web & Internet verändert...", "Mobile und Mobile-Payment in Afrika. Was wir lernen können!?"]
all_events_title: "Vortragsabend"
all_events_text: Do. 13. Februar 2014 im cowoco
doodle: http://www.doodle.com/v7qmfzhfihtt59rf
xing: https://www.xing.com/events/-1349588
nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/29471
hackenin: http://hacken.in/events/105-mobile-cologne/dates/3173
---

<div class="container span-15">
<p>
	<strong>Der erste Vortragsabend 2014 richtet sich diesmal nicht ausschließlich an Entwickler,</strong>
	vielmehr sind alle mobile-Interessierten angesprochen.
	Egal ob Kunde, Entwickler, Tester, Teamleiter oder Geschäftsführer.
	Wir würden uns, diesmal ganz besonders, über ein bunt gemischtes Publikum freuen!
</p>
<p>
	<strong>Mobile is Mainstream:</strong><br/>
	Roland Guelle (CTO Sevenval) zeigt auf wie Mobile das Web & Internet verändert (hat)
	und warum wir jetzt gerade erst am Anfang stehen.
</p>
<p>
	<strong>Reisebericht und Mobile-Payment in Afrika:</strong><br/>
	Michael Bumann (Geschäftsführer railslove) war mit acht anderen Hackern über einen Monat im Afrika (<a href="https://africahacktrip.org/">AfricaHackTrip</a>)
	und berichtet seine Erfahrungen mit Technik, Internet und Mobile-Payment.
</p>
<div class="clearfix"></div>

<h3>Agenda</h3>
<div class="container span-15 last clear">
	<div class="span-2">18:30 Uhr</div>
	<div class="span-13 last">Opening</div>
	<div class="span-2">18:45 Uhr</div>
	<div class="span-13 last">
		[Talk] Mobile is Mainstream mit Roland Guelle von <a href="http://www.sevenval.com/">Sevenval</a><br/>
		[Talk] Reisebericht und Mobile-Payment in Afrika mit Michael Bumann von <a href="http://www.railslove.com/">railslove</a><br/>
	</div>
	<div class="span-2">danach</div>
	<div class="span-13 last">Diskutieren, austauschen, Bier trinken, etc.</div>
</div>
<div class="clearfix"></div><br/>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung an:&nbsp;
	{% include _content_register.html %}
</p>

{% include _location_bottfabrik.html %}