---
layout: post
title: Vortragsabend
categories: ["frontpage"]
frontpage_headline: "<strong>Wo stehen wir eigentlich?</strong><br/>• Wie Mobile das Web & Internet verändert...<br/>• Mobile und Mobile-Payment in Afrika. Was wir lernen können!?"
frontpage_headline_date: Do. 6. Februar
frontpage_headline_location: bei HRS
frontpage_headline_image: /static/images/events/mobile-cologne-2013-07-c.png
themen: ["HTML testen auf Android und iOS", "Android-testing in der Cloud", "iOS apps bauen und verteilen"]
all_events_title: "Vortragsabend zum Thema Testen"
all_events_text: Do. 6. Februar 2013 bei HRS
#doodle: http://www.doodle.com/7hvx2a2i4dn3id4t
#xing: https://www.xing.com/events/-1310799
#nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/14691
#hackenin: http://hacken.in/events/105-mobile-cologne/dates/2854
---

<div class="container span-15">
<p>
	<strong>Der erste Vortragsabend 2014 richtet sich diesmal nicht ausschließlich an Entwickler,</strong>
	vielmehr sind alle mobile-Interessierten angesprochen.
	Egal ob Kunde, Entwickler, Tester, Teamleiter oder Geschäftsführer.
	Wir würden uns, diesmal ganz besonders, über ein bunt gemischtes Publikum freuen!
</p>
<p>
	<strong>Mobile is Mainstream:</strong><br/>
	Roland Guelle (CTO Sevenval) zeigt auf wie Mobile das Web & Internet verändert (hat)
	und warum wir jetzt gerade erst am Anfang stehen.
</p>
<p>
	<strong>Reisebericht Afrika:</strong><br/>
	Michael Bumann (Geschäftsführer raislove) war mit acht anderen Hackern über einen Monat im Afrika (<a href="https://africahacktrip.org/">AfricaHackTrip</a>)
	und berichtet seine Erfahrungen mit Technik, Internet und Mobile-Payment.
</p>
<div class="clearfix"></div>

<h3>Agenda</h3>
<div class="container span-15 last clear">
	<div class="span-2">18:30 Uhr</div>
	<div class="span-13 last">Opening</div>
	<div class="span-2">18:45 Uhr</div>
	<div class="span-13 last">
		[Talk] Mobile is Mainstream mit Roland Guelle von <a href="http://www.sevenval.com/">Sevenval</a><br/>
		[Talk] Reisebericht und Mobile-Payment in Afrika mit Michael Bumann von <a href="http://www.railslove.com/">railslove</a><br/>
	</div>
	<div class="span-2">danach</div>
	<div class="span-13 last">Diskutieren, austauschen, Bier trinken, etc.</div>
</div>
<div class="clearfix"></div><br/>

<h3>Anmeldung</h3>
<p>
	Wenn ihr mögt meldet euch an damit wir grob planen können:&nbsp;
	{% include _content_register.html %}
</p>

{% include _location_hrs.html %}
