{% assign googleid = '114204530185953129985' %}
{% assign latitude = 50.943138 %}
{% assign longitude = 6.935034 %}
{% assign location = 'triAGENS GmbH, Brüsseler Straße 89-93, 50672 Köln' %}

<h3>Location</h3>
<p>
    triAGENS GmbH<br/>
    Brüsseler Straße 89-93<br/>
    50672 Köln<br/>
</p>
{% include _location.html %}
<div style="line-height: 30px; margin: 5px 0 20px 0;">
Mit den U-Bahnen
<b style="padding: 2px 4px 2px 4px; color: white; background-color: #00008b;">U3</b>
<b style="padding: 2px 4px 2px 4px; color: white; background-color: #00008b;">U4</b>
<b style="padding: 2px 4px 2px 4px; color: white; background-color: #00008b;">U5</b>
bis <b>Hans-Böckler-Platz</b>/BF West<br/>
oder mit der
<b style="padding: 2px 4px 2px 4px; color: white; background-color: #00008b;">U12</b> bzw.
<b style="padding: 2px 4px 2px 4px; color: white; background-color: #00008b;">U15</b>
bis Friesenplatz.<br/>

Alternativ mit der
<b style="padding: 2px 4px 2px 4px; color: white; color: black; border: 2px solid red; -border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;">DB</b>
direkt bis <b>Bahnhof West</b>.
</div>
