{% assign googleid = '11330664381676170984' %}
{% assign latitude = 50.950641 %}
{% assign longitude = 6.986768 %}
{% assign location = 'Coworking Cologne Gasmotorenfabrik, Deutz-Mülheimerstraße 129, 51063 Köln' %}

<h3>Location</h3>
<p>
	cowoco - Coworking-Space in der Gasmotorenfabrik Deutz<br/>
	3. Etage, Deutz-Mülheimerstraße 129, 51063 Köln
</p>
{% include _location.html %}
&nbsp; | &nbsp; Haltestelle:&nbsp;
<b style="padding: 2px 4px 2px 4px; color: white; background-color: #00008b;">U3</b>
<b style="padding: 2px 4px 2px 4px; color: white; background-color: #00008b;">U4</b>
&nbsp;<b>Kölnmesse</b> (nicht zu verwechseln mit Köln Messe/Deutz!)<br/>
danach ca. 5-10 Minuten zu Fuß in Fahrtrichtung der Deutz-Mülheimer Str. folgen.
