{% assign googleid = '114204530185953129985' %}
{% assign latitude = 50.932266 %}
{% assign longitude = 6.940021 %}
{% assign location = 'ArangoDB GmbH, Hohenstaufenring 43-45, 50674 Köln' %}

<h3>Location</h3>
<p>
    ArangoDB GmbH<br/>
    Hohenstaufenring 43-45<br/>
    50674 Köln<br/>
</p>
{% include _location.html %}
<div style="line-height: 30px; margin: 5px 0 20px 0;">
Mit den U-Bahnen
<b style="padding: 2px 4px 2px 4px; color: white; background-color: #00008b;">U1</b>
<b style="padding: 2px 4px 2px 4px; color: white; background-color: #00008b;">U7</b>
<b style="padding: 2px 4px 2px 4px; color: white; background-color: #00008b;">U12</b>
<b style="padding: 2px 4px 2px 4px; color: white; background-color: #00008b;">U15</b>
bis <b>Rudolfplatz</b><br/>
oder mit der
<b style="padding: 2px 4px 2px 4px; color: white; background-color: #00008b;">U9</b>
<b style="padding: 2px 4px 2px 4px; color: white; background-color: #00008b;">U12</b> bzw.
<b style="padding: 2px 4px 2px 4px; color: white; background-color: #00008b;">U15</b>
bis Zülpicher Platz<br/>

</div>
