{% assign googleid = '103632598624346221874' %}
{% assign latitude = 50.93532 %}
{% assign longitude = 6.934842 %}
{% assign location = 'die wohngemeinschaft, Richard-Wagner-Straße 39, 50674 Köln' %}

<h3 style="margin-top: 1.5em;"><a name="location" style="text-decoration: none;">Location</a></h3>
<p>
	die wohngemeinschaft, Richard-Wagner-Straße 39, 50674 Köln
</p>
{% include _location.html %}
&nbsp; | &nbsp; <a href="http://www.die-wohngemeinschaft.net" target="_blank">Webseite</a>
&nbsp; | &nbsp; Haltestelle:&nbsp;
<b style="padding: 2px 10px 2px 10px; color: white; background-color: #00008b;">1</b>
<b style="padding: 2px 6px 2px 6px; color: white; background-color: #00008b;">12</b>
<b style="padding: 2px 6px 2px 6px; color: white; background-color: #00008b;">15</b>
&nbsp;<b>Piusstr.</b>

<p>
<br/><br/>
Die wohngemeinschaft ist grün eingezeichnet:<br/>
<img src="http://www.die-wohngemeinschaft.net/upload/image/anfahrt.png"><br/>
(Copyright <a href="http://www.die-wohngemeinschaft.net/de/lage.html" target="_blank">die wohngemeinschaft</a>)
</p>
