{% assign googleid = '13194929020168119508' %}
{% assign latitude = 50.9659065 %}
{% assign longitude = 7.0153557 %}
{% assign location = 'inovex GmbH, Schanzenstraße 6 - 20, 51063 Köln' %}

<h3>Location</h3>
<p>{{ location }}, <a href="https://www.inovex.de/">www.inovex.de</a></p>
<p>Innerhalb des "Schanzenviertel" bzw. auf dem alten Gelände des "Carlswerk"
findet ihr inovex in der "Kupferhütte 4.4". Von der Hauptpforte ca. 500m
gerade aus auf der linken Seite.</p>
{% include _location.html %}
<p>
	ÖPNV: Haltestelle <strong>Keupstr.</strong> mit der 4 oder
	den Bussen 151, 152, 153, 190 oder 434.
</p>
