{% assign googleid = '608720181314421967' %}
{% assign latitude = 50.942151 %}
{% assign longitude = 6.957232 %}
{% assign location = 'Sevenval Technologies GmbH, Bahnhofsvorplatz 1, 50667 Köln' %}

<h3>Location</h3>
<p>{{ location }}, <a href="http://www.sevenval.com/">www.sevenval.com/</a></p>
<p>
	<b>Der Eingang von Sevenval</b> ist im Torbogen direkt gegenüber vom
	Kölner Hauptbahnhof (Dom-Seite).
	Im kleinem Torbogen, direkt hinter den Tischen vom Gaffel,
	findet sich rechts ein kleiner Eingang mit Fahrstuhl.
	Ihr findet uns im 3. Stock.
</p>
{% include _location.html %}
&nbsp; | &nbsp; Haltestelle: <strong>Köln Hbf</strong> Ausgang Domseite
