{% assign googleid = '115034611608644628073' %}
{% assign latitude = 50.923901 %}
{% assign longitude = 6.958648 %}
{% assign location = 'Zum alten Brauhaus, Severinstraße 51, 50678 Köln' %}

<h3>Location</h3>
<p>{{ location }}, <a href="http://www.brauhaus-suedstadt.de/">www.brauhaus-suedstadt.de</a></p>
{% include _location.html %}
&nbsp; | &nbsp; Haltestelle:
&nbsp; <strong>Chlodwigplatz</strong> &nbsp;
<b style="padding: 2px 10px 2px 10px; color: white; background-color: #00008b; border: 1px solid #00008b;">15</b>
<b style="padding: 2px 10px 2px 10px; color: white; background-color: #00008b; border: 1px solid #00008b;">16</b>
<b style="padding: 2px 6px 2px 6px; border: 1px solid gray;">106</b>
<b style="padding: 2px 6px 2px 6px; border: 1px solid gray;">132</b>
<b style="padding: 2px 6px 2px 6px; border: 1px solid gray;">133</b>
<b style="padding: 2px 6px 2px 6px; border: 1px solid gray;">142</b>
