<h2>Newsletter <span class="loud">abonnieren</span></h2>

<!--
<h3 style="font-family: Times New Roman; font-size: 30px; margin-bottom: 0; padding-bottom: 0;">
	Google
	<span              style="font-family: Arial; font-size: 16px; text-transform: uppercase; margin-left: -5px;">Group</span>
	<span class="loud" style="font-family: Arial; font-size: 16px; margin-left: -5px;">Termineinladung</span>
</h3>
-->

<form id="google-subscribe-form" action="http://groups.google.com/group/mobilecologne/boxsubscribe"
      style="margin: 0 0 0 20px; padding: 0;">
	<span class="small">E-Mail:</span>
	<input type="mail" name="email" value="" />
	<input type="submit" value="Subscribe" /><br/>
	<span class="small">powered by Google Groups</span>
</form>
<p class="small" style="color: gray; line-height: 1.2em; margin: 0 0 1em 20px; padding: 0.6em 0;">
	Unser Versprechen:<br/>
	* Kein Spam!<br/>
	* Ausschließlich Termineinladungen & -updates<br/>
	* Keine Weitergabe eurer Daten
</p>

<script type="text/javascript">
	// webinterface to test and fix yahoo query
	// http://developer.yahoo.com/yql/console/?q=select%20content%20from%20html%20where%20url%20%3D%20%22http%3A%2F%2Fgroups.google.com%2Fgroup%2Fmobilecologne%22%20and%20xpath%20%3D%20%22%2F%2Fdiv%5B%40id%3D'moduleGroupInfo'%5D%2Fdiv%2Ftable%2Ftr%5B1%5D%2Ftd%2Fp%22

	function receiveGoogleGroupMemberCount(data) {
		if (typeof data.query.results.p == 'string' && parseInt(data.query.results.p)) {
			var members = data.query.results.p;
			$('#google-subscribe-form').prepend('<span class="small">' + members + ' subscriber already!</span><br/>');
		}
	};

	$(document).ready(function() {
		//var script = document.createElement('script');
		//script.src = "http://query.yahooapis.com/v1/public/yql?q=select%20content%20from%20html%20where%20url%20%3D%20%22http%3A%2F%2Fgroups.google.com%2Fgroup%2Fmobilecologne%22%20and%20xpath%20%3D%20%22%2F%2Fdiv%5B%40id%3D'moduleGroupInfo'%5D%2Fdiv%2Ftable%2Ftr%5B1%5D%2Ftd%2Fp%22&format=json&callback=receiveGoogleGroupMemberCount";
		//document.head.appendChild(script);
	});
</script>
