{% if page.url != '/2012-12-13-weihnachtsmarkt.html' %}
<h2>Nächster <span class="loud">Termin</span></h2>
<p style="margin-left: 20px; margin-bottom: 0;">
	<strong>Ausblick 2013</strong> in der Gasmotorenfabrik Deutz<br/>
	Do. 10. Januar 2012 &nbsp; 19&nbsp;Uhr<br/>
	<a href="/2013-01-10-vortragsabend.html">Mehr Infos</a> &nbsp;|&nbsp;
	<a href="http://www.doodle.com/r4pw7hrt3wz8tgy9" target="_blank">Doodle</a> &nbsp;|&nbsp;
	<a href="https://www.xing.com/events/-1156648" target="_blank">Xing</a>

	{% if (page.url != '/index.html') %}
		<br/><br/>
	{% endif %}
</p>
{% endif %}
