<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<style type="text/css">
		* { font-family: 'Arial', sans-serif; }
		body { margin: 20px auto; padding: 20px; font-family: 'Arial', sans-serif; font-size: 100%; }

		h1 { color: #E01F1F; font-size: 2em;   line-height: 1; margin-bottom: 0.5em; }
		h2 { color: #E01F1F; font-size: 1.5em; line-height: 1; margin-bottom: 0.5em; }
		h3 { color: #E01F1F; font-size: 1.2em; line-height: 1; margin-bottom: 0.5em; }

		a { color: #E01F1F; }
		a:hover { color: #a11919; }
	</style>
</head>
<body>
{{ content }}
</body>
</html>
