---
layout: post
title: "Vortragsabend: Sprachersteuerung mit Alexa und SiriKit"
categories: ["frontpage"]
frontpage_line1: "Donnerstag, 9. Februar"
frontpage_line2: "Sprachersteuerung"
frontpage_line3: "mit Alexa &amp; SiriKit"
frontpage_line4: "Dieser Vortragsabend widmet sich ganz den beiden Spracherkennungs- und steuerungssystemen <strong>Alexa&nbsp;von&nbsp;Amazon</strong> sowie <strong>Siri&nbsp;von&nbsp;Apple</strong>. Michael und Thomas stellen die beiden Entwicklungssysteme <strong>ASK&nbsp;und&nbsp;SiriKit</strong> vor. Wir freuen uns über einen Austausch mit euch im Coworking-Space <strong>Ehrenspace</strong>."
themen: ["Alexa Skill Entwicklung mit ASK", "iOS Sprachteuerung mit Siri &amp; SiriKit"]
all_events_title: "Vortragsabend: Sprachersteuerung mit Alexa und SiriKit"
all_events_text: Do. 9. Februar 2017 im Ehrenspace
doodle: http://doodle.com/poll/5zzxdbx6h45zpfiy
xing: https://www.xing.com/events/-1777522
meetup: https://www.meetup.com/mobilecgn/events/237353660/
#nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/29471
#hackenin: http://hacken.in/events/105-mobile-cologne/dates/34467
---

<div class="container span-13">
	<p>
		Wir möchten euch gerne zum nächsten Vortragsabend
		<strong>am Donnerstag, den 9. Februar ab 18:30 Uhr</strong> in den
        Coworking-Space <strong><a href="http://ehren.space/" target="_blank">Ehrenspace</a></strong>
        einladen.
	</p>
	<p>
		Dieser Vortragsabend widmet sich ganz den beiden
        Spracherkennungs- und steuerungssystemen
        <strong>Alexa&nbsp;von&nbsp;Amazon</strong> sowie
        <strong>Siri&nbsp;von&nbsp;Apple</strong>.
    </p>
	<p>
        Michael und Thomas stellen die beiden Entwicklungssysteme
        <strong>ASK (Alexa Skills Kit)</strong> und <strong>SiriKit</strong> vor.
        Anschließend freuen wir uns auf einen angeregten Austausch mit euch.
	</p><br/>

    <p>
		<strong>Alexa Skill Entwicklung mit ASK (Alexa Skills Kit)</strong>
	</p>
	<p>
        Die Sprachgesteuerten Geräte von Amazon (Echo) und das
        offene System Alexa hat es in letzter Zeit einige Aufmerksamkeit erhalten.
        Gerade erst auf der CES wurden unzählige neue Geräte,
        von Autos über Kühlschränke bis hinzu Android-Systemen, angekündigt.<br/>
        <a href="https://twitter.com/quendor" target="_blank">Michael</a>
        hat einen, mitlerweile gefeatureten, „Alexa Skill“ entwickelt und
        in den Alexa Skill Store veröffentlicht. Er gibt eine Einführung
        in die Entwicklung und das Alexa Skills Kit (ASK).
	</p>
    <p>
		<strong>iOS Sprachteuerung mit Siri &amp; SiriKit</strong>
	</p>
	<p>
        Mit iOS 10 hat Apple endlich die Sprachsteuerung Siri für Entwickler
        geöffnet. Sie ermöglicht damit die Anbindung von Siri an die eigene App.
        <a href="https://twitter.com/tkulessa" target="_blank">Thomas</a>
        hat die neuen Funktionen bereits angebunden. Er stellt SiriKit vor und
        die Möglichkeiten und Fallstricke welche die neue Schnittstelle bietet.
	</p>

    <p>
		<strong>Über den Ehrenspace</strong>
	</p>
	<p>
		Wir danken dem <a href="http://ehren.space/">Ehrenspace</a>
		für seine Gastfreundschaft.
		Der Ehrenspace ist ein neuer Coworking Space im Herzen von Ehrenfeld.
		Neben Software-Entwicklern arbeiten hier auch Fotographen, Filmemacher,
		Blogger und andere im Hinterhof der Venloer Str.
	</p>
	<p style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
		<a href="http://ehren.space/"><img src="/static/images/ehrenspace.png" alt="Ehrenspace" width="194" height="160"></a>
	</p><br/>
</div>
<div class="clearfix"></div>

<h3>Agenda</h3>
<div class="container span-15 last clear">
	<div class="span-2"><p>~ 18:30 Uhr</p></div>
	<div class="span-13 last">
        <p>
            <strong>Opening &amp; come together</strong>
        </p>
    </div>
	<div class="span-2"><p>~ 19:00 Uhr</p></div>
	<div class="span-13 last">
		<p>
			<strong>Alexa Skill Entwicklung mit ASK</strong><br/>
            Michael Kleinhenz von <a href="https://www.redhat.com/de/technologies/mobile" target="_blank">RedHat</a>
        </p>
        <p>
            <strong>iOS Sprachteuerung mit Siri &amp; SiriKit</strong><br/>
            Thomas Kuleßa von <a href="http://www.cologne-intelligence.de/ci-mobile-minds/">Cologne Intelligence</a>
		</p>
	</div>
	<div class="span-2">danach</div>
	<div class="span-13 last">Diskutieren, austauschen, Bier trinken, etc.</div>
</div>
<div class="clearfix"></div><br/>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung an:&nbsp;
	{% include _content_register.html %}
</p><br/>

{% include _location_ehrenspace.html %}
