---
layout: post
title: "Vortragsabend: TensorFlow und TensorFlow Mobile"
categories: ["frontpage"]
frontpage_line1: "Donnerstag, 9. März"
frontpage_line2: "Machine Learning"
frontpage_line3: "mit TensorFlow"
frontpage_line4: "<strong>Machine Learning</strong>, Artificial Intelligence, Neuronale Netze sind gerade in aller Munde und werden die Software-Entwicklung immer mehr beeinflussen. Wir schauen <strong>bei mobile2b</strong> was hinter Googles OpenSource Framework <strong>TensorFlow</strong> und <strong>TensorFlow Mobile</strong> steckt."
themen: ["Einführung in Machine Learning und Neuronale Netze", "Machine Learning mit TensorFlow und TensorFlow Mobile"]
all_events_title: "Vortragsabend: TensorFlow und TensorFlow Mobile"
all_events_text: Do. 9. März 2017
doodle: http://doodle.com/poll/3ze35efenzrdtabr
#xing: https://www.xing.com/events/-1766198
#meetup: http://www.meetup.com/de-DE/mobilecgn/events/236675492/
#nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/29471
#hackenin: http://hacken.in/events/105-mobile-cologne/dates/34467
---

<div class="container span-13">
	<p>
		Wir möchten euch gerne zum nächsten Vortragsabend
		<strong>am Donnerstag, den 9. März ab 18:30 Uhr</strong> in die
		Räumlichkeiten von <a href="http://www.mobile2b.de/"><strong>mobile2b</strong></a> einladen.
	</p>
	<p>
        Machine Learning, Artificial Intelligence und Neuronale Netze
        sind gerade in aller Munde.
		Dieser Vortragsabend widmet sich den Ideen hinter dem Hype sowie
        Googles OpenSource Framework <strong>TensorFlow</strong>.
    </p>
	<p>
        Muhammed stellt die Konzepte hinter AI und TensorFlow vor.
        Anschließend werden Muhammed und Christoph die Möglichkeiten
        von <strong>TensorFlow Mobile</strong> ausleuchten.
        Wir freuen uns auch auf einen angeregten Austausch mit euch.
	</p><br/>

    <p>
		<strong>Machine Learning mit TensorFlow und TensorFlow Mobile</strong>
	</p>
	<p>
        Wenn „intelligente Computer“ Aufgaben lösen die wir nicht (unmittelbar)
        verstehen, ist dass schon immer beeindruckend und - ganz sicher -
        mehr als nur ein Hype.
        Neuronale Netze zu trainieren und zu nutzen eröffnet neue Möglichkeiten,
        in Backendsystemen, aber auch in Apps. TensorFlow erleichtert die
        Umsetzung und ermöglicht die Nutzung auch unter Android und iOS.<br/>
        Der Vortrag gibt eine Einführung in die Konzepte und die Nutzung
        von TensorFlow und TensorFlow Mobile.
	</p><br/>

    <p>
		<strong>Über mobile2b</strong>
	</p>
	<p>
		Wir danken <a href="http://www.mobile2b.de/">mobile2b</a>
		für seine Gastfreundschaft.
		Mobile2b ist eine Full-Service-Agentur für professionelle App-Entwicklung
		für iPhone, iPad, Android und HTML5 sowie die Entwicklung entsprechender
		Server- und Datenbanksysteme.
	</p>
	<p style="text-align: center; margin-top: 30px; margin-bottom: 30px;">
		<a href="http://www.mobile2b.de/"><img src="/static/images/mobile2b-ohne-tagline.jpg" alt="mobile2b" width="255" height="66"></a>
	</p><br/>
</div>
<div class="clearfix"></div>

<h3>Agenda</h3>
<div class="container span-15 last clear">
	<div class="span-2"><p>~ 18:30 Uhr</p></div>
	<div class="span-13 last">
        <p>
            <strong>Opening &amp; come together</strong>
        </p>
    </div>
	<div class="span-2"><p>~ 19:00 Uhr</p></div>
	<div class="span-13 last">
		<p>
			<strong>Einführung in Machine Learning und Neuronale Netze</strong><br/>
            Muhammed Demircan
        </p>
        <p>
            <strong>Machine Learning mit TensorFlow und TensorFlow Mobile</strong><br/>
            Muhammed Demircan und Christoph Jerolimov
        </p>
	</div>
	<div class="span-2">danach</div>
	<div class="span-13 last">Diskutieren, austauschen, Bier trinken, etc.</div>
</div>
<div class="clearfix"></div><br/>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung an:&nbsp;
	{% include _content_register.html %}
</p><br/>

{% include _location_mobile2b.html %}
