---
layout: post
title: "Vortragsabend: Hybride App-Entwicklung"
categories: ["frontpage"]
frontpage_line1: "Vortragsabend:"
frontpage_line2: "Donnerstag, 7. Mai"
frontpage_line3: "Hybride App-Entwicklung"
frontpage_line4: Gemeinsam mit der cologne.js veranstalten wir ein Einführungsspezial in die hybride App-Entwicklung mit dem Intel-XDK und Cordova / PhoneGap.
themen: ["Hybride App-Entwicklung mit dem Intel XDK"]
all_events_title: "Vortragsabend: Hybride App-Entwicklung"
all_events_text: Do. 7. Mai 2015 bei ArangoDB
doodle: http://doodle.com/whufqyu2nbqvyhue
xing: https://www.xing.com/events/-1540983
meetup: http://www.meetup.com/mobilecgn/events/221486895/
#nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/29471
#hackenin: http://hacken.in/events/105-mobile-cologne/dates/3173
---

<div class="container span-14">
	<p>
		Diesen Themenabend veranstalten wir gemeinsam mit <a href="http://colognejs.de/" target="_blank">cologne.js</a>,
		der kölschen Javascript-Usergroup.
	</p>
	<p>
		<a href="http://twitter.com/BFreakout" target="_blank">Gregor Biswanger</a> ist MVP (Microsoft Most Valuable Professional) und zeigt uns die Erstellung von hybriden Apps mit dem Intel XDK, einer Entwicklungsumgebung zum Erstellen, Debuggen und Veröffentlichen von Cordova / PhoneGap-Anwendungen.
	</p>
	<p>
		Die Entwicklung von Apps ist nicht einfach und jede "Systemwelt" hat ihre eigenen Tools und Anforderungen. Ob mit Java und Eclipse für Android, mit Objective-C und Xcode für iOS, oder mit den Microsoft-Tools für die Windows-Welt. Bei diesem Vortrag lernen Sie die vielfältigen Möglichkeiten der App-Entwicklung für alle gängigen Plattformen mit nur einer Programmiersprache kennen: HTML5 und JavaScript. Sie steigen mit den Grundlagen des kostenlosen Intel XDK ein und werden dann mit den wichtigsten Frameworks und Vorgehensweisen vertraut gemacht. Mit diesen Infos steigen Sie rasch auf zum versierten Cross-Plattform Entwickler.
	</p>
<div class="clearfix"></div>

<h3>Agenda</h3>
<div class="container span-15 last clear">
	<div class="span-2">19:00 Uhr</div>
	<div class="span-13 last">Opening &amp; come together</div>
	<div class="span-2">19:30 Uhr</div>
	<div class="span-13 last"><strong>Einstieg in die Hybrid App Entwicklung von Gregor Biswanger</strong></div>
	<div class="span-2">danach</div>
	<div class="span-13 last">Diskutieren, austauschen, Bier trinken, etc.</div>
</div>
<div class="clearfix"></div><br/>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung an:&nbsp;
	{% include _content_register.html %}
</p>

{% include _location_arangodb.html %}
