---
layout: post
title: "Mobile Stammtisch Köln"
categories: ["frontpage"]
frontpage_headline: "In geselliger Runde gleichgesinnte kennenlernen, angeregt diskutieren oder einfach ein wenig Small-Talk bei einem kühlem Blonden halten."
frontpage_headline_date: Do. 15. Januar
frontpage_headline_location: Früh am Dom
all_events_title: "Mobile Stammtisch Köln"
all_events_text: Do. 15. Januar 2015 im Früh am Dom
doodle: http://doodle.com/neuv46yhpe2ptqyd
xing: https://www.xing.com/events/-1496178
meetup: http://www.meetup.com/mobilecgn/events/219826467/
#nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/29471
#hackenin: http://hacken.in/events/105-mobile-cologne/dates/3173
---

<p>
	Wir möchten euch zum Mobile Stammtisch Köln, ab 19 Uhr ins Früh am Dom, einladen.
</p>
<p>
	In geselliger Runde gleichgesinnte kennenlernen, angeregt diskutieren oder einfach ein wenig Small-Talk bei einem kühlem Blonden halten.
</p>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung (Reservierung) an: &nbsp;
	{% include _content_register.html %}
</p>

{% include _location_frueh.html %}
