---
layout: post
title: "Mobile Stammtisch Köln"
categories: ["frontpage"]
frontpage_line1: "Stammtisch:"
frontpage_line2: "Do., 3. September"
frontpage_line3: "16. Mobile Stammtisch"
frontpage_line4: "In geselliger Runde gleichgesinnte kennenlernen, angeregt diskutieren oder einfach ein wenig Small-Talk bei einem kühlem Blonden halten."
all_events_title: "Mobile Stammtisch Köln"
all_events_text: Do. 3. September 2015 am Aachener Weiher
#doodle: http://doodle.com/6fq6bubpfbh4ikkf
#xing: https://www.xing.com/events/-1496178
#meetup: http://www.meetup.com/mobilecgn/events/219826467/
#nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/29471
#hackenin: http://hacken.in/events/105-mobile-cologne/dates/3173
---

<p>
	Wir hoffen, Ihr habt euch alle in der längeren Sommerpause gut erholt oder/und interessante Dinge gemacht.
</p>
<p>
	Wir möchten euch zum Mobile Stammtisch Köln, ab 19 Uhr, einladen.
	Wenn geöffnet treffen wir uns bei gutem Wetter im Biergarten Aachener Weiher,
	ansonsten in der Fussläufig erreichbaren Wohngemeinschaft.
</p>
<p>
	In geselliger Runde gleichgesinnte kennenlernen, angeregt diskutieren oder einfach ein wenig Small-Talk bei einem kühlem Blonden halten.
</p>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung (Reservierung) an: &nbsp;
	{% include _content_register.html %}
</p>

{% include _location_aachenerweiher.html %}
