---
layout: post
title: "Vortragsabend: Mobile Everywhere"
categories: ["frontpage"]
frontpage_line1: "Vortragsabend:"
frontpage_line2: "Do, 12. November"
frontpage_line3: "bei Sevenval"
frontpage_line4: "<strong>Wer ist eigentlich dieser Mobilist?</strong> Mobile Everywhere – der verrückte Alltag eines Mobilisten im Projekt und privat.<br/>Anschließend widmen wir uns noch der Frage <strong>und warum brauchen wir eigentlich HTTP/2?</strong>"
themen: ["Mobile Everywhere – der verrückte Alltag eines Mobilisten", "HTTP/2 für mobile Geräte"]
all_events_title: "Vortragsabend: Mobile Everywhere"
all_events_text: Do. 12. November 2015 bei Sevenval
doodle: http://doodle.com/poll/xtq2kbcyrif9wwhq
xing: https://www.xing.com/events/-1620649
meetup: http://www.meetup.com/de/mobilecgn/events/226648329/
#nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/29471
#hackenin: http://hacken.in/events/105-mobile-cologne/dates/34467
---

<div class="container span-14">
	<p>
		Wir möchten euch zu unserer Veranstaltungsreihe am Donnerstag,
		den 12. November zur <a href="http://www.sevenval.com/">Sevenval Technologies GmbH</a> einladen.
		Wir freuen uns auf einen Abend mit spannenden Vorträgen:
	</p>
	<p>
		Erik Aderhold und Wolfgang Seyppel stellen die Frage:
		Wer ist eigentlich dieser Mobilist</strong>
		oder auch der klassische Stereomobilist
		Mobile Everywhere – der verrückte Alltag eines Mobilisten im Projekt und privat
		… und das mit dem Projekt, Beispielen aus dem alltäglichen Wahnsinn
		… und der Versuch aus dem Wahnsinn zu lernen.
	</p>
	<p>
		Anschließend zeigt Felix Hassert welche Vorteile
		HTTP/2 für mobile Geräte bringt.
	</p>
<div class="clearfix"></div>

<h3>Agenda</h3>
<div class="container span-15 last clear">
	<div class="span-2"><p>~ 19:00 Uhr</p></div>
	<div class="span-13 last"><p>Opening &amp; come together</p></div>
	<div class="span-2"><p>~ 19:15 Uhr</p></div>
	<div class="span-13 last">
		<p>
			<strong>Die alltäglichen Herausforderungen eines Mobilisten</strong>
			<br/>(Erik Aderhold und Wolfgang Seyppel)
		</p>
		<p>
			Kurze Pause
		</p>
		<p>
			<strong>HTTP/2 für mobile Geräte</strong>
			<br/>(Felix Hassert)
		</p>
	</div>
	<div class="span-2">danach</div>
	<div class="span-13 last">Diskutieren, austauschen, Bier trinken, etc.</div>
</div>
<div class="clearfix"></div><br/>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung an:&nbsp;
	{% include _content_register.html %}
</p>

{% include _location_sevenval.html %}
