---
layout: post
title: "Vortragsabend: Material Design"
categories: ["frontpage"]
frontpage_line1: Montag, 9. Februar
frontpage_line2: "Material Design"
frontpage_line3: "Vortragsabend"
frontpage_line4: Wir laden zum nächsten Themenabend in den Coworking Space Cologne ein. Diesmal dreht sich alles um Android und das Material Design.
themen: ["Playing with Material Design", "Apple Watch &amp; Android Wear UX"]
all_events_title: "Vortragsabend: Material Design"
all_events_text: Mo. 8. Januar 2015 im Coworking Cologne
doodle: http://doodle.com/z4p899umvwuzrgt3
xing: https://www.xing.com/events/-1506195
meetup: http://www.meetup.com/mobilecgn/events/220320552/
#nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/29471
#hackenin: http://hacken.in/events/105-mobile-cologne/dates/3173
---

<div class="container span-14">
<p>
	Wir laden zum nächsten Themenabend am Montag, den 9. Februar ab 19 Uhr
	in den Coworking Space Cologne ein um uns dem Thema Material Design zu widmen.
</p>
<p>
	Pascal Welsch (<a href="https://twitter.com/passsy">@passsy</a>)
	arbeitet als Android-Entwickler bei <a href="http://www.grandcentrix.net/">grandcentrix</a>
	berichtet ausführlich von seinen Experimenten und Erfahrungen rund um
	das mit Android Lollipop eingeführte Material Design.

	Dies wird unter anderem die Themen Schatten/Z-Index, Activity Transitions,
	Ripples (and styles) sowie RecyclerView umfassen.
</p>
<div class="clearfix"></div>

<h3>Agenda</h3>
<div class="container span-15 last clear">
	<div class="span-2">19:00 Uhr</div>
	<div class="span-13 last">Opening &amp; come together</div>
	<div class="span-2">19:15 Uhr</div>
	<div class="span-13 last"><strong>Playing with Material Design von Pascal Welsch, grandcentrix</strong></div>
	<div class="span-2">danach</div>
	<div class="span-13 last">Diskutieren, austauschen, Bier trinken, etc.</div>
</div>
<div class="clearfix"></div><br/>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung an:&nbsp;
	{% include _content_register.html %}
</p>

{% include _location_bottfabrik.html %}
