---
layout: post
title: "Einführung in React"
categories: ["frontpage"]
frontpage_line1: Donnerstag, 23. April
frontpage_line2: "Einführung in"
frontpage_line3: "React"
frontpage_line4: Facebooks JavaScript-Bibliothek React und ihr virtueller DOM sorgen gerade für gehörigen Wirbel in der Frontendszene. Wir möchten mehr darüber erfahren...
themen: ["Einführung in React"]
all_events_title: "Einführung in React"
all_events_text: Do. 23. April 2015 bei tba.
doodle: http://doodle.com/gb6sagiqwfmqbmuc
xing: https://www.xing.com/events/-1540982
meetup: http://www.meetup.com/mobilecgn/events/221486911/
#nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/29471
#hackenin: http://hacken.in/events/105-mobile-cologne/dates/3173
---

<div class="container span-15">
	<p>
		Facebooks JavaScript-Bibliothek React und ihr virtueller DOM sorgen
		gerade für gehörigen Wirbel in der Frontendszene. Gerade wurde React
		Native angekündigt, welches React erlaubt in native Views zu rendern.
		Höchste Zeit für eine Einführung in React und die Konzepte dahinter.
	</p>
	<p>
		<a href="http://www.twitter.com/wakkahari" target="_blank">Paul Wittmann</a> ist
		JavaScript-, Ruby- und Clojure-Entwickler bei <a href="http://www.railslove.com" target="_blank">Railslove</a>.
		Auf der Suche nach einer besseren Frontendarchitektur fand er
		React, was schnell zur Einstiegsdroge zu funktionaler Programmierung und
		ClojureScript wurde.
	</p>
<div class="clearfix"></div>

<h3>Agenda</h3>
<div class="container span-15 last clear">
	<div class="span-2">19:00 Uhr</div>
	<div class="span-13 last">Opening &amp; come together</div>
	<div class="span-2">19:30 Uhr</div>
	<div class="span-13 last"><strong>Einführung in React von Paul Wittmann</strong></div>

	<div class="span-2">danach</div>
	<div class="span-13 last">Diskutieren, austauschen, Bier trinken, etc.</div>
</div>
<div class="clearfix"></div><br/>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung an:&nbsp;
	{% include _content_register.html %}
</p>

{% include _location_tba.html %}
