---
layout: post
title: "Vortragsabend: Neues in Android 6.0 aka Marshmallow"
categories: ["frontpage"]
frontpage_line1: "Android Vortragsabend:"
frontpage_line2: "Do, 10. September"
frontpage_line3: "im cowoco"
frontpage_line4: "Auf der Google IO stellte Google die neue <strong>Android Version Android M</strong> vor. Pascal hat sich die neuste Developer Preview angeschaut und stellt die Neuerungen für Entwickler vor."
themen: ["Neues in Android 6.0 aka Marshmallow"]
all_events_title: "Vortragsabend: Android 6.0 aka Marshmallow"
all_events_text: Do. 10. September 2015 im Coworking Cologne
doodle: http://doodle.com/poll/gq479qx55tizza9f
xing: https://www.xing.com/events/-1597349
meetup: http://www.meetup.com/de/mobilecgn/events/225183076/
#nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/29471
#hackenin: http://hacken.in/events/105-mobile-cologne/dates/34467
---

<div class="container span-14">
	<p>
		Wir hoffen, Ihr habt euch alle in der längeren Sommerpause gut erholt.
		Gerne laden wir euch zum nächsten Vortragsabend am Donnerstag,
		10. September, ab 19 Uhr, einladen.
	<p>
		Auf der Google IO stellte Google die neue Android Version Android M vor
		und hat kürzlich die finale Version und den Namen veröffentlicht.
	</p>
	<p>
		<a href="https://twitter.com/passsy" target="_blank">Pascal Welsch</a> von
		<a href="https://www.grandcentrix.net/" target="_blank">Grandcentrix</a>
		hat sich die neuste Developer Preview von Android 6.0 aka Marshmallow
		angeschaut und stellt die Neuerungen vor.
		Was bedeuten die neuen Berechtigungen für Entwickler und Projekte.
	</p>
<div class="clearfix"></div>

<h3>Agenda</h3>
<div class="container span-15 last clear">
	<div class="span-2">19:00 Uhr</div>
	<div class="span-13 last">Opening &amp; come together</div>
	<div class="span-2">19:15 Uhr</div>
	<div class="span-13 last">
			<strong>Neues in Android 6.0 aka Marshmallow von Pascal Welsch, Grandcentrix</strong>
	</div>
	<div class="span-2">danach</div>
	<div class="span-13 last">Diskutieren, austauschen, Bier trinken, etc.</div>
</div>
<div class="clearfix"></div><br/>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung an:&nbsp;
	{% include _content_register.html %}
</p>

{% include _location_bottfabrik.html %}
