---
layout: post
title: "Vortragsabend: tba."
#categories: ["frontpage"]
frontpage_line1: "Vortragsabend:"
frontpage_line2: "Do, 8. Oktoboer"
frontpage_line3: "tba."
frontpage_line4: "tba."
#themen: [""]
all_events_title: "Vortragsabend: tba."
all_events_text: Do. 23. April 2015 bei Grandcentrix
#doodle: http://doodle.com/gb6sagiqwfmqbmuc
#xing: https://www.xing.com/events/-1540982
#meetup: http://www.meetup.com/mobilecgn/events/221486911/
#nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/29471
#hackenin: http://hacken.in/events/105-mobile-cologne/dates/34467
---

<div class="container span-15">
	<p>
		todo.
	</p>
<div class="clearfix"></div>

<h3>Agenda</h3>
<div class="container span-15 last clear">
	<div class="span-2">19:00 Uhr</div>
	<div class="span-13 last">Opening &amp; come together</div>
	<div class="span-2">19:30 Uhr</div>
	<div class="span-13 last">
		<strong>tba.</strong><br/>
		<strong>tba.</strong>
	</div>
	<div class="span-2">danach</div>
	<div class="span-13 last">Diskutieren, austauschen, Bier trinken, etc.</div>
</div>
<div class="clearfix"></div><br/>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung an:&nbsp;
	{% include _content_register.html %}
</p>

{% include _location_grandcentrix.html %}
