---
layout: post
title: Mobile meets NoSQL
themen: ["Mobile meets NoSQL"]
all_events_title: Mobile meets NoSQL
all_events_text: Do. 14. März 2013 bei StartPlatz
doodle: http://www.doodle.com/qgmxewqruxqkzegz
xing: https://www.xing.com/events/-1199695
nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/1137
---

<p>
	<img src="/static/images/events/mobile-cologne-2013-03.jpg" width="240" height="180" alt="Teaser: Mobile meets NoSQL" />
</p>
<p>
	In den letzten Jahren haben sich NoSQL-Datenbanken am Markt etabliert.
	Diese bieten Lösungen für Herausforderungen, die oftmals im Web-Umfeld
	anzutreffen sind: die Verwaltung großer Datenmengen bei häufig
	wechselnden Anforderungen.
	Traditionelle Datenbanken stoßen hierbei oft an Grenzen, und NoSQL-Datenbanken
	umgehen einige dieser Beschränkungen durch radikal andere Annahmen und Ansätze.
	Im mobilen Umfeld bieten diese Lösungen sehr interessante neue Ansätze,
	wie z.B. die direkte Integration des Applikation-Layers mit http und JSON.
</p>
<p>
	Das NoSQL-Umfeld ist sehr dynamisch: aktuell existieren etwa 150
	NoSQL-Datenbanken am Markt, und ständig gibt es neue Entwicklungen.
</p>
<p>
	Der Talk bietet einen Einstieg in die Konzepte der NoSQL-Welt und zeigt die
	wesentlichen Unterschiede zu traditionellen Datenbanksystem.
	Weiterhin gibt er einen Überblick über die wichtigsten Kategorien
	von NoSQL-Datenbanken mit ihren jeweiligen Schwerpunkten und Einsatzbereichen.
	Exemplarisch werden dabei Key/value stores, Columnstores,
	Dokumenten- und Graphdatenbanken betrachtet.
</p>

<h3>Präsentation</h3>
<p>
	<iframe src="http://de.slideshare.net/slideshow/embed_code/17223615"
	        width="600" height="450"
	        frameborder="0" marginwidth="0" marginheight="0" scrolling="no"
	        style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe><br/>
	<a href="http://de.slideshare.net/JanSteemann" target="_blank">Slideshare</a>
</p>
<p>
	Die Präsentation inkl. Audio findet ihr auch auf <a href="http://vimeo.com/62232544" target="_blank">Vimeo</a>.
	Vielen Dank <a href="https://twitter.com/thomashop2e">Thomas</a> für die Aufzeichnung.
</p>

<h3>Agenda</h3>
<div class="container span-15 last clear">
	<div class="span-2">18:30 Uhr</div>
	<div class="span-13 last">Opening</div>
	<div class="span-2">18:40 Uhr</div>
	<div class="span-13 last">Kleine Verlosung</div>
	<div class="span-2">18:45 Uhr</div>
	<div class="span-13 last">
		[Talk] Mobile meets NoSQL, <a href="https://twitter.com/steemann" target="_blank">Jan Steemann</a>, triAGENS<br/>
	</div>
	<div class="span-2">danach</div>
	<div class="span-13 last">Diskutieren, austauschen, Bier trinken, etc.</div>
</div>
<div class="clearfix"></div><br/>

<h3>Anmeldung</h3>
<p>
	Wenn ihr mögt meldet euch an damit wir grob planen können: &nbsp;
	{% include _content_register.html %}
</p>

{% include _location_startplatz.html %}

<div class="container span-20 last clear">
	<div class="span-10">
		<h3>Sponsored <span class="loud">by</span></h3>
		<a href="http://www.oreilly.de/" target="_blank">
			<img src="/static/images/oreilly.png" style="width: 150px; padding: 20px;" />
		</a>
	</div>
</div>
