---
layout: post
title: Mobile Stammtisch
categories: ["frontpage"]
frontpage_headline: Gesellige Runde mit Speis und Trank
frontpage_headline_date: Mi., 8. Mai
frontpage_headline_location: im Stadtgarten
frontpage_headline_image: /static/images/events/mobile-cologne-2013-05.png
all_events_title: Mobile Stammtisch
all_events_text: Mi. 08. Mai 2013 im Stadtgarten
doodle: http://www.doodle.com/si77fgzxe8bqf6gb
xing: https://www.xing.com/events/-1238228
nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/2159
hackenin: http://hacken.in/events/105-mobile-cologne/dates/2143
---

<p>
	<img src="/static/images/events/mobile-cologne-2013-05.png" width="240" height="180" alt="Teaser: Mobile Stammtisch" />
</p>
<div class="span-17 clear">
<p>
	Wegen des Feiertags am Donnerstag entfällen die geplante mobile.cologne Talks.
	Das Thema "Mobile CI für Android &amp; iOS" kann daher leider erst im Juli stattfinden:
	Am <a href="/2013-07-11-vortragsabend.html">11.07.2013</a> um 18:30 Uhr.
</p>
<p>
	Um nicht gänzlich untätig zu sein möchten wir, einen Tag früher als gewohnt,
	zum Stammtisch in den Stadtgarten einladen.
</p>
<p>
	Wer mag kann in entspannter Runde diskutieren oder auch nur Small-Talk halten.
	Neben den ein oder anderen Bier werden wir auch noch die Speisekarte
	genauer in Augenschein nehmen.
</p>
</div>
<div class="clearfix"></div>

<h3>Anmeldung</h3>
<p>
	Wenn ihr mögt meldet euch an damit wir grob planen können: &nbsp;
	{% include _content_register.html %}
</p>

{% include _location_stadtgarten.html %}
