---
layout: post
title: "Mobile CI für Android"
categories: ["frontpage"]
frontpage_headline: mit Dennis Nobel
frontpage_headline_date: Do., 11. Juli
frontpage_headline_location: im cowoco
frontpage_headline_image: /static/images/events/mobile-cologne-2013-07-c.png
themen: ["Mobile CI für Android"]
all_events_title: "Mobile CI für Android"
all_events_text: Do. 11. Juli 2013 im cowoco
doodle: http://www.doodle.com/yapqu764cemefhrv
xing: https://www.xing.com/events/-1224724
hackenin: http://hacken.in/events/105-mobile-cologne/dates/2176
---

<p>
	<img src="/static/images/events/mobile-cologne-2013-07-c.png" width="240" height="180" alt="Teaser: Mobile Testing" />
</p>
<p>
	Eine agile Softwareentwicklung mit möglichst kurzen Releasezyklen ist gerade bei
	der Entwicklung mobiler Applikationen ein entscheidender Faktor.
	Continuous Integration (CI) bezeichnet ein Vorgehen bei dem die Software
	automatisiert gebaut, getestet und deployed wird.
	Dadurch erhalten die Entwickler direktes Feedback über ihre Änderungen und
	die Qualität lässt sich so auch bei einer rapiden Produktentwicklung gewährleisten.
</p>
<p>
	Im ersten Talk geben Ingo Weinzierl und Dennis Nobel eine Einführung in die agile
	Software-Entwicklung von Android-Applikationen.
	Dabei zeigen sie wie sich Android-Applikationen mit maven bauen und testen lassen
	und wie sich dieser Prozess in einem CI-Server vollständig automatisieren lässt.
	Darüber hinaus gehen sie auf das interne Provisioning der Applikationen für die
	Entwickler und Tester ein und berichten dabei auch von ihren Erfahrungen aus
	dem gemeinsamen Freizeitprojekt foomla - ein mobiler Fußball-Trainingswizard.
</p>
<p>
	Ingo Weinzierl arbeitet als Java-Developer bei der Zalando GmbH und
	ist zudem Android-Entwickler der ersten Stunde.
</p>
<p>
	Dennis Nobel ist IT-Berater bei der itemis AG und in verschiedenen Projekten
	mit den Schwerpunkten Java- und Webentwicklung sowie Continuous Integration tätig.
</p>

<h3>Agenda</h3>
<div class="container span-15 last clear">
	<div class="span-2">18:30 Uhr</div>
	<div class="span-13 last">Opening</div>
	<div class="span-2">18:40 Uhr</div>
	<div class="span-13 last">Kleine Verlosung</div>
	<div class="span-2">18:45 Uhr</div>
	<div class="span-13 last">
		[Talk] Android CI mit Dennis Nobel von <a href="http://www.itemis.de/">itemis</a>
	</div>
	<div class="span-2">danach</div>
	<div class="span-13 last">Diskutieren, austauschen, Bier trinken, etc.</div>
</div>
<div class="clearfix"></div><br/>

<div>
	<b>Update:</b>
	Die Slides von Dennis könnt ihr auch hier nochmal als <a href="/2013-07-11/Mobile_CI.pdf">PDF herrunterladen</a>. Das dazugehörige github Projekt findet ihr <a href="https://github.com/dnobel/android-ci">hier</a>.
</div>
<div class="clearfix"></div><br/>

<h3>Anmeldung</h3>
<p>
	Wenn ihr mögt meldet euch an damit wir grob planen können:&nbsp;
	{% include _content_register.html %}
</p>

{% include _location_bottfabrik.html %}

<div class="container span-20 last clear">
	<div class="span-10">
		<h3>Sponsored <span class="loud">by</span></h3>
		<a href="http://www.oreilly.de/" target="_blank">
			<img src="/static/images/oreilly.png" style="width: 150px; padding: 20px;" />
		</a>
	</div>
</div>
