---
layout: post
title: Mobile Clients für JavaEE
themen: ["Mobile Clients für JavaEE", "Open Device Lab Cologne"]
all_events_title: Mobile Clients für JavaEE
all_events_text: Do. 14. Februar 2013 bei triagens
doodle: http://doodle.com/8wre4sbm7mrxdddi
nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/1136
xing: https://www.xing.com/events/-1156650
---

<p>
	<img src="/static/images/events/mobile-cologne-2013-02.jpg" width="240" height="180" alt="Teaser: Java Enterprise" />
</p>
<p>
	Das mobile Internet gewinnt immer mehr an Bedeutung und Stichworte wie
	HTML5, mobile web oder Hybrid-Apps machen die Runde. Doch wie passen
	diese Trends zu einander und wie erweitere ich eine bestehende JavaEE
	Anwendung um einen mobilen Client? Der Vortrag zeigt Lösungen für
	Android, iOS und JavaScript/Hybrid auf Basis von jQuery-Mobile, Apache
	Cordova sowie dem AeroGear Projekt auf.
</p>
<p>
	Matthias Weßendorf arbeitet bei Red Hat, wo er sich mit mobile, HTML5
	und weiteren Themen rund um das Next Generation Web beschäftigt. Er
	betreibt einen <a href="http://wessendorf.net" target="_blank">Blog</a> und
	<a href="https://twitter.com/mwessendorf" target="_blank">twittert</a>.
</p>
<p>
	Jan Kus ist Mitgründer von <a href="http://www.railslove.com/" target="_blank">Railslove</a>,
	vom <a href="http://cowoco.heroku.com/spaces/3" target="_blank">Coworking Cologne</a> und der neuen
	<a href="http://koeln.opendevicelab.de" target="_blank">Open Device Labs Cologne</a> Initiative. Er
	twittert als <a href="https://twitter.com/koos" target="_blank">@koos</a>.
</p>

<h3>Agenda</h3>
<div class="container span-15 last clear">
	<div class="span-2">19:00 Uhr</div>
	<div class="span-13 last">Opening</div>
	<div class="span-2">19:15 Uhr</div>
	<div class="span-13 last">Kleine Verlosung</div>
	<div class="span-2">19:20 Uhr</div>
	<div class="span-13 last">
		[Talk] Vorstellung Open Device Lab Cologne, Jan Kus, Railslove<br/>
		[Talk] Mobile Clients für JavaEE, Matthias Weßendorf, Red Hat
	</div>
	<div class="span-2">danach</div>
	<div class="span-13 last">Diskutieren, austauschen, Bier trinken, etc.</div>
</div>
<div class="clearfix"></div><br/>

<h3>Anmeldung</h3>
<p>
	Wenn ihr mögt meldet euch an damit wir grob planen können: &nbsp;
	{% include _content_register.html %}
</p>

{% include _location_triagens.html %}

<div class="container span-20 last clear">
	<div class="span-10">
		<h3>Sponsored <span class="loud">by</span></h3>
		<a href="http://www.oreilly.de/" target="_blank">
			<img src="/static/images/oreilly.png" style="width: 150px; padding: 20px;" />
		</a>
	</div>
	<div class="span-10 last">
		<h3>Location & Getränke <span class="loud">sponsored by</span></h3>
		<a href="http://de.triagens.com/" target="_blank">
			<img src="/static/images/triagens.png" style="width: 144px; padding: 36px;" />
		</a>
	</div>
</div>
