---
layout: post
title: Vortragsabend zum Thema Testen
categories: ["frontpage"]
frontpage_headline: "Am 14. November um 18:30 Uhr<br/>• HTML testen auf Android und iOS<br/>• Android-testing in der Cloud<br/>• iOS apps bauen und verteilen"
frontpage_headline_date: Großes Finale
frontpage_headline_location: mit 3 Vorträgen
frontpage_headline_image: /static/images/events/mobile-cologne-2013-07-c.png
themen: ["HTML testen auf Android und iOS", "Android-testing in der Cloud", "iOS apps bauen und verteilen"]
all_events_title: "Vortragsabend zum Thema Testen"
all_events_text: Do. 14. November 2013
doodle: http://www.doodle.com/7hvx2a2i4dn3id4t
xing: https://www.xing.com/events/-1310799
nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/14691
hackenin: http://hacken.in/events/105-mobile-cologne/dates/2854
---

<p>
	<img src="/static/images/events/mobile-cologne-2013-07-c.png" width="240" height="180" alt="Teaser: Mobile Testing" />
</p>
<p>
</p>
<p>
	Möglichst kurze Releasezyklen ist gerade bei
	der Entwicklung mobiler Applikationen ein entscheidender Faktor.
	<strong>Continuous Integration</strong> (CI) bezeichnet ein Vorgehen bei dem die Software
	automatisiert gebaut und getestet wird.
	Bei <strong>Continuous Delivery</strong> (CD) wird diese dadrüber hinaus auch
	automatisch installiert bzw. verteilt. Zu all diesen Aspekten
	werden wir Interessante Einblicke in mehreren Vorträgen bekommen!
</p>
<p>
	<strong>Mobile Webseiten</strong> sind wichtiger denje. Unabhängig davon ob es sich
	um eine rein mobile Webseite, eine Response-Web oder Hybrid-App handelt.
	Das Ergebnis muss <strong>auf vielen Geräten</strong> auf hinsichtlich
	<strong>Aussehen und Funktionalität getestet</strong> werden.
	Sebastian Golasch hat dafür eine ganz eigene Lösung entwickelt und stellt den aktuellen
	Entwicklungsstand vor.
</p>
<p>
	<strong>Bei Android</strong> entsteht insbesondere durch die große Anzahl Unterschiedlicher
	Hersteller, Hardware und Anpassungen an der Software die Schwierigkeit
	eine <strong>möglichst hohe Abdeckung</strong> zu erhalten.
	Michael Kleinhenz zeigt wie man diese Probleme mit hilfe der <strong>Cloud</strong> in Griff bekommen kann.
</p>
<p>
	David Linsin zeigt Möglichkeiten zum <strong>automatisierten Bauen</strong> und Verteilen von
	<strong>iOS Applikationen</strong>.
</p>
<h3>Agenda</h3>
<div class="container span-15 last clear">
	<div class="span-2">18:30 Uhr</div>
	<div class="span-13 last">Opening</div>
	<div class="span-2">18:45 Uhr</div>
	<div class="span-13 last">
		[Talk] HTML testen auf Android und iOS mit Sebastian Golasch<br/>
		[Talk] Android-testing in der Cloud mit Michael Kleinhenz von <a href="http://www.goquestor.com/">Questor</a><br/>
		[Talk] iOS apps bauen und verteilen mit David Linsin von <a href="http://www.grandcentrix.net/">grandcentrix</a><br/>
	</div>
	<div class="span-2">danach</div>
	<div class="span-13 last">Diskutieren, austauschen, Bier trinken, etc.</div>
</div>
<div class="clearfix"></div><br/>

<h3>Anmeldung</h3>
<p>
	Wenn ihr mögt meldet euch an damit wir grob planen können:&nbsp;
	{% include _content_register.html %}
</p>

{% include _location_sevenval.html %}
