---
layout: post
title: Mobile Stammtisch
categories: ["frontpage"]
frontpage_headline: Gesellige Runde mit Speis und Trank
frontpage_headline_date: Do. 08. August
frontpage_headline_location: im Päffgen
frontpage_headline_image: /static/images/events/mobile-cologne-2013-05.png
all_events_title: Mobile Stammtisch
all_events_text: Do. 08. August 2013 im Päffgen
doodle: http://www.doodle.com/hitzhb2nnuk93z56
#xing: https://www.xing.com/events/-1262811
#nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/2159
#hackenin: http://hacken.in/events/105-mobile-cologne/dates/2143
---

<p>
	<img src="/static/images/events/mobile-cologne-2013-05.png" width="240" height="180" alt="Teaser: Mobile Stammtisch" />
</p>
<div class="span-17 clear">
<p>
	Wir möchten euch zum Stammtisch in die Brauerei Päffgen einladen.
</p>
<p>
	Wer mag kann in entspannter Runde diskutieren oder auch nur Small-Talk halten.
	Neben den ein oder anderen Bier werden wir auch noch die Speisekarte
	genauer in Augenschein nehmen.
</p>
</div>
<div class="clearfix"></div>

<h3>Anmeldung</h3>
<p>
	Wenn ihr mögt meldet euch an damit wir grob planen können: &nbsp;
	{% include _content_register.html %}
</p>

{% include _location_paeffgen.html %}
