/*
 * verwendete farben: white black #E01F1F
 */
* {
	font-family: 'Dosis', 'Arial', sans-serif;
}

body {
	font-family: 'Dosis', 'Arial', sans-serif;
	font-size: 100%;
}

p {
	margin: 0.5em 0;
}

.x-container {
	background-image:url(/static/blueprint/src/grid.png);
}

h1 {
	color: #E01F1F;
	font-size: 2em;
	line-height: 1;
	margin-bottom: 0.5em;
}

h2 {
	color: #E01F1F;
	font-size: 1.5em;
	margin-bottom: 0.5em;
}

h3 {
	color: #E01F1F;
	font-size: 1.2em;
	line-height: 1;
	margin-bottom: 0.5em;
}

a {
	color: #E01F1F;
}

a:hover {
	color: #a11919;
}

a.subscribe {
	text-align: center;
	color: white;
	background-color: #E01F1F;
	font-size: 0.9em;
	text-decoration: none;
	border-radius: 10px;
}

a.subscribe:hover {
	color: white;
	background-color: #a11919;
}

.evenodd > :nth-child(even) {
	background: #e5ecf9;
}

.googlemaps {
	margin-bottom: 10px;
}

.googlemaps > #googlemaps {
	display: block;
	width: 950px;
	height: 250px;
}

.googlemaps > a {
	display: block;
	position: absolute;
	width: 950px;
	height: 250px;
	border: 1px solid #000000;
	color: transparent;
	background-color: transparent;
	line-height: 250px;
	text-align: center;
	z-index: 1;
}

.googlemaps > a:hover {
	border: 1px solid #E01F1F;
	color: white;
	background-color: rgba(0, 0, 0, 0.1);
}

@media all and (min-width: 960px) {
	.title {
		color: rgba(0, 0, 0, 0);
		display: none;
	}

	.header {
		border-top: 15px solid white;
		border-bottom: 5px solid black;

		height: 200px;
		margin: 0 auto;
		background-image: url(images/Logo-fullsize.png);
		background-repeat: no-repeat;
		background-size: 980px 200px;
		background-position: center 0px;
	}

	.navigation {
		position: relative;
		border-bottom: 1px solid #d4d4d4;
	}

	.navigation .social {
		height: 28px;
		padding-top: 4px;
	}

	.navigation .active, .navigation .active:hover, .navigation .inactive:hover {
		color: black;
		text-align: center;
		text-decoration: none;
		border-bottom: 1px solid black;
		text-transform: uppercase;
		padding-top: 10px;
	}

	.navigation .inactive {
		color: gray;
		text-align: center;
		text-decoration: none;
		border-bottom: 1px solid white;
		text-transform: uppercase;
		padding-top: 10px;
	}

	/*
	number highlight wie in macosx dock?!

	.navigation a {
		height: 30px;
	}
	.navigation a .text {
		position: absolute;
		margin-left: -15px;
	}
	.navigation a .count {
		position: absolute;
		width: 25px;
		height: 25px;
		font-size: 0.8em;
		font-weight: bold;
		line-height: 26px;
		margin-top: -10px;
		margin-left: -35px;
		color: white;
		background-color: rgba(255, 0, 0, .6);
		border: 1px dotted white;
		border-radius: 20px;
	}
	.navigation a:hover .count {
		background-color: rgba(255, 0, 0, 1);
	}
	*/

	.content {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.content .container {
	}

	.content .prev, .content .next {
		position: absolute;
		top: 300px;
	}

	.content .prev {
		left: 0px;
	}

	.content .next {
		right: 0px;
	}

	.content .prev a, .content .next a {
		display: inline-block;
		padding: 20px 10px 25px 10px;
		font-size: 30px;
		line-height: 30px;
		background-color: lightgray;
		text-decoration: none;
	}

	.footer {
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: #d9d9d9;
	}

	.footer .container span {
		color: gray;
		font-size: 20px;
	}

	.footer .container a {
		color: gray;
		font-size: 0.8em;
	}
}

@media all and (min-width: 960px) and (min-height: 640px) {
	.content .prev, .content .next {
		position: fixed;
		top: 40%;
	}
}

@media all and (max-width: 960px) {
	.googlemaps > #googlemaps, .googlemaps > a {
		width: 290px;
		height: 100px;
		line-height: 100px;
		z-index: 1;
	}

	.title {
		color: rgba(0, 0, 0, 0);
		display: none;
	}

	.header {
		border-top: 10px solid white;
		border-bottom: 5px solid black;

		height: 120px;
		margin: 0 auto;
		background-image: url(images/Logo-middle.png);
		background-repeat: no-repeat;
		background-size: 320px 120px;
		background-position: center 0px;
	}

	.header a.logo {
		display: block;
		height: 120px;
	}

	.navigation {
		padding: 10px;
	}

	.navigation a {
		padding-right: 5px;
	}

	.content {
		padding: 10px;
	}

	.content .prev, .content .next {
		display: inline;
	}

	.content .prev a, .content .next a {
		padding: 10px;
		background-color: lightgray;
		text-decoration: none;
	}

	.footer {
		padding: 10px;
	}

	img.span-2 {
		width: 70px;
	}
}

