---
layout: post
title: "Interactive Cologne Spezial"
categories: ["frontpage"]
frontpage_headline: ""
frontpage_headline_date: Do. 22. Mai
frontpage_headline_location: Wohngemeinschaft
themen: [""]
all_events_title: "Interactive Cologne Spezial"
all_events_text: Do. 22. Mai 2014 in der Wohngemeinschaft
#doodle: http://www.doodle.com/hk8wm9xrgircgdxu
#xing: https://www.xing.com/events/-1367457
#nerdhub: http://www.nerdhub.de/events/105-mobile-cologne/dates/29471
#hackenin: http://hacken.in/events/105-mobile-cologne/dates/3173
---

<div class="container span-15">

<h4>In-Door Navigation über WLAN</h4>
<p>
</p>
<p>
	Robert Linden, tarent GmbH
</p>

<h4>iBeacon Einblick</h4>
<p>
Welche Technologie steckt hinter dem Buzz um iBeacon?
Was liefert die Technologie wirklich und wie kann man das nutzen?
Beispielaufbau zur Veranschaulichung
Ausblick
</p>
<p>
	Christian Stahl und Christian Neuls
</p>


<h4>Notify all your mobile clients! mit Matthias Wessendorf, Apache Foundation</h4>
<p>
	Interaktion mit dem Benutzer ist die Basis einer erfolgreichen mobilen Anwendung. Push Nachrichten, ein zentraler Bestandteil eines mobilen Betriebsystems, bieten eine komfortable Möglichkeit um mit dem Benutzer in Kontakt zu treten. Mit Hilfe des OpenSource basierten UnifiedPush Server ist der Versand von Push Nachrichten an verschiedene Betriebsysteme kinderleicht, da er ein einheitliches API für den Versand von Push Nachrichten zu unterschiedlichen Plattformen (Android, iOS und Firefox OS), inklusive Device-Management anbietet. Der Vortrag gibt eine Einführung zu Push Nachrichten sowie die effektive Umsetzung in verschiedenen Szenerien (Stichwort: Geolocation oder personalisierte Nachrichten). Ebenfalls zeigt der Vortrag die Integration des Servers für den Versand von Push Nachrichten aus der eigenen Anwendung heraus.
</p>
<p>
	Matthias arbeitet bei Red Hat und ist der Project-Lead des AeroGear Projekts. Er betreibt einen <a href="http://matthiaswessendorf.wordpress.com" target="_blank">Blog</a> und <a href="https://twitter.com/mwessendorf" target="_blank">twittert</a>.
</p>

<div class="clearfix"></div>

<h3>Agenda</h3>
<div class="container span-15 last clear">
	<div class="span-2">16:00 Uhr</div>
	<div class="span-13 last">[] iBeacons Einführung</div>
	<div class="span-2">18:00 Uhr</div>
	<div class="span-13 last"><strong>Break</strong></div>
	<div class="span-2">18:45 Uhr</div>
	<div class="span-13 last">[Talk] Notify all your mobile clients! mit Matthias Wessendorf, Apache Foundation</div>
	<div class="span-2">danach</div>
	<div class="span-13 last">After show</div>
</div>
<div class="clearfix"></div><br/>

<h3>Anmeldung</h3>
<p>
	Bitte meldet euch für eine grobe Planung an:&nbsp;
	{% include _content_register.html %}
</p>

{% include _location_denkwerk.html %}
