{% assign googleid = '608720181314421967' %}
{% assign location = 'Sevenval GmbH, Bahnhofsvorplatz 1, 50667 Köln' %}

<h3>Location</h3>
<p style="margin-bottom: 0.5em;">{{ location }}</p>
<p style="margin-bottom: 0.5em;">
	<b>Der Eingang von sevenval</b> ist im Torbogen direkt gegenüber vom
	Kölner Hauptbahnhof (Dom-Seite).
	Im kleinem Torbogen, direkt hinter den Tischen vom Gaffel,
	findet sich rechts ein kleiner Eingang mit Fahrstuhl.
	Ihr findet uns im <b>6. Stock</b>!
</p>
{% include _location.html %}
&nbsp; | &nbsp; Haltestelle: Köln Hbf Ausgang Domseite
