{% if page.url != '/2012-12-13-weihnachtsmarkt.html' %}
<!--<h2>Nächster <span class="loud">Termin</span></h2>-->
<h2>Donnerstag <span class="loud">ab 19 Uhr</span></h2>
<p style="margin-left: 20px; margin-bottom: 0;">
	<strong>Glühwein.apk meets Glühwein.app</strong><br/>
	Wir treffen uns auf dem Weihnachtsmarkt „Markt der Engel“ am Neumarkt.<br/>
	Der Glühweinstand
	<a href="http://www.markt-der-engel.de/download/Besucherplan-2012_Markt-der-Engel_Neumarkt-Koeln.jpg" target="_blank">„Gabriel's“&nbsp;(Stand&nbsp;20)</a>
	am außerem Ende Richtung Mittelstraße.
	Wir versuchen uns in der Nähe von Stand 19 aufzuhalten, also Richtung Weihnachtsmarkt.<br/>
	<a href="/2012-12-13-weihnachtsmarkt.html">Mehr...</a>

	<!--<b>abc</b> am xyz<br/>
	Do. 08. November 2012 &nbsp; 19&nbsp;Uhr<br/>
	<a href="/2012-12-13-vortragsabend.html">Mehr Infos</a> &nbsp;|&nbsp;
	<a href="http://www.doodle.com/r4pw7hrt3wz8tgy9" target="_blank">Doodle</a> &nbsp;|&nbsp;
	<a href="https://www.xing.com/events/-1156648" target="_blank">Xing</a>-->

	{% if (page.url != '/index.html') %}
		<br/><br/>
	{% endif %}
</p>
{% endif %}
