---
layout: default
title: mobile.cologne - user group for ios, android, html5
category: topnavi
---

<div class="span-15 colborder">
	<h1>mobile.<span class="loud">cologne</span></h1>
	<h3 class="loud" style="margin-bottom: 30px;">
		user group for
		ios, android, html5 &nbsp;&amp;&nbsp; co.*
		&nbsp; - &nbsp; jeden 2. Donnerstag im Monat!
	</h3>

	<div class="span-12 append-1">
		<p>Wir wollen Brücken zwischen den mobilen Plattformen schlagen.
		Es soll das <b>„große Ganze“ der mobilen Software-Entwicklung</b> und
		dessen Synergien beleuchten werden. Das Ziel dieses Vorhabens ist es,
		den Blick über den Tellerrand für alle Disziplinen zu erleichtern und
		somit bessere Produkte einfacher erstellen zu können.</p>

		<p>Die Gegebenheiten in der mobilen Software-Entwicklung ändern sich permanent.
		Um auf dem Laufenden zu bleiben, wollen wir durch regelmäßige Treffen eine
		Plattform bieten, dieses zu erleichtern.
		Wir laden daher zum interdisziplinären Informationsaustausch zwischen
		ios, android, html5 Entwicklern ein!</p>

		<p>*ps: ja wir freuen uns auch über blackberry, webos, maemo, meego,
		webos, windows mobile -Entwickler und alle andere Interessierte! ;-)</p>

		<h3>Jetzt folgen und stets informiert sein:</h3>
		<p class="clearfix">
			<a href="https://www.xing.com/net/mobilecgn/" class="column"><img src="/static/images/xing.png" alt="Xing"></a>
			<a href="https://plus.google.com/118274408028336548190?rel=author" class="column"><img src="/static/images/google-plus.png" alt="Google+"></a>
			<a href="https://twitter.com/mobilecgn" class="column"><img src="/static/images/twitter-2.png" alt="Twitter"></a>
			<a href="https://www.facebook.com/mobilecgn" class="column"><img src="/static/images/facebook.png" alt="Facebook"></a>
		</p>
	</div>

	<div class="span-2 last">
		<img src="/static/images/plattform_ios.png" alt="iOS" class="span-2" style="margin-top: -5px;" />
		<img src="/static/images/plattform_android.png" alt="Android" class="span-2" style="margin-bottom: 15px;" />
		<img src="/static/images/plattform_html5.png" alt="HTML5" class="span-2" style="margin-bottom: 15px;" />
		<img src="/static/images/plattform_windows.png" alt="Windows" class="span-2" style="margin-bottom: 15px;" />
		<img src="/static/images/plattform_blackberry.png" alt="Blackberry" class="span-2" />
	</div>
</div>
<div class="span-8 last">
	{% include _sidebar_next_event.html %}
	<!--
	<img src="/static/images/marker-5.png" alt="Jetzt Termin sichern!" width="193" height="120"
	     style="margin-left: 20px;" />
	-->
	<div id="newsletterbox" style="margin-top: 20px;">
	{% include _sidebar_newsletter.html %}
	</div>

	<h2>Termine <span class="loud">abonnieren</span></h2>
	<p style="margin-left: 20px;">
		<a href="https://www.google.com/calendar/embed?src=peodj154qd532pfepf7qakg4po%40group.calendar.google.com&ctz=Europe/Berlin&mode=AGENDA">Terminübersicht</a><br/>
		<a href="https://www.google.com/calendar/ical/peodj154qd532pfepf7qakg4po%40group.calendar.google.com/public/basic.ics">iCal</a>
		<a href="webcal://www.google.com/calendar/ical/peodj154qd532pfepf7qakg4po%40group.calendar.google.com/public/basic.ics">webcal</a>
	</p>
</div>
